.users-content {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: min-content auto min-content;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 30px;
  grid-template-areas: "b1 b2 b3" "b4 b4 b4" "b5 b5 b5";

  & .new {
    grid-area: b1;
  }

  & .group {
    grid-area: b2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & label {
      white-space: nowrap;
    }
  }

  & .access {
    grid-area: b3;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  & .row-table {
    grid-area: b4;
    height: 100%;
  }

  & .row-controls {
    grid-area: b5;
    position: relative;
  }
}

.modal {
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #A070B5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 5px 5px 28px 14px rgba(0,0,0,0.31);
  box-shadow: 5px 5px 28px 14px rgba(0,0,0,0.31);

  &.new-user {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 710px;
    display: none;
  }

  .new-user-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;
    grid-gap: 30px;
    position: relative;

    & .close-btn {
      position: absolute;
      top: -100px;
      right: -30px;
      -webkit-box-shadow: 5px 5px 28px 14px rgba(0,0,0,0.31);
      box-shadow: 5px 5px 28px 14px rgba(0,0,0,0.31);
    }

    & form {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto min-content;
      grid-gap: 30px;

      & .form-controls {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: min-content;
        grid-gap: 30px;

        & button {
          grid-column: 3;
        }

        & input {
          grid-column: 4;
        }
      }
    }

    & form .grey-box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content;
      grid-gap: 30px;
    }
  }
}

.show-modal {
  display: grid !important;
}

.hide-modal {
  display: none !important;
}
