<div class="users-content dark-grey-box">
  <div class="grey-box new">
    <button class="green-btn round-btn" (click)="showModal('new-user')">Новый пользователь</button>
  </div>
  <div class="grey-box group">
    <label class="mr-15" for="group">Показать группы</label>
    <mat-form-field floatLabel="never">
      <mat-select id="group" [(value)]="currentGroup" (selectionChange)="groupChange($event)">
        <mat-option *ngFor="let item of groupsList" [value]="item.id" class="example-item">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <input class="m-0" type="text" placeholder="Выберите группу" id="group" name="group"> -->
  </div>
  <div class="grey-box access">
    <label for="submit">Доступ группе пользователей <br>к адресной книге и шаблонам:</label>
    <input type="submit" id="submit" name="submit" value="Выбрать группу" (click)="showGroupModal = !showGroupModal">
  </div>
  <div class="row-table" style="position: relative">
    <div class="cell" id="block" style="position: absolute; z-index: 1000; right: 10px">
      <div class="modal-plus">
        <div class="blocked">
          <span>Заблокировать</span>
          <div class="checkbox-block" style="margin-right: 15px;">
            <input class="checkbox-block-item" type="radio" name="status" id="status1" value="locked" [checked]="!activeUser" (change)="editUserState($event)">
            <span class="checkbox-block-icon"></span>
          </div>
        </div>
        <div class="unblocked">
          <span>Разблокировать</span>
          <div class="checkbox-block" style="margin-right: 15px;">
            <input class="checkbox-block-item" type="radio" name="status" id="status2" value="unlocked" [checked]="activeUser" (change)="editUserState($event)">
            <span class="checkbox-block-icon"></span>
          </div>
        </div>
      </div>
    </div>
    <ag-grid-angular
      style="width: 100%; height: 100%; overflow: visible"
      class="ag-theme-alpine"
      [suppressPaginationPanel]="true"
      [debug]="true"
      [suppressScrollOnNewData]="true"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [suppressRowClickSelection]="true"
      [frameworkComponents]="frameworkComponents"
      [rowSelection]="rowSelection"
      [pagination]="true"
      [paginationPageSize]="paginationPageSize"
      (paginationChanged)="onPaginationChanged()"
      (gridReady)="onGridReady($event)"
      (rowClicked)="onRowClicked($event)"
    >
    </ag-grid-angular>
  </div>
  <div class="row-controls">
    <div class="num-of-items">
      <span>На странице: </span>
      <input class="controls-current-number" (input)="onUserPageGrid($event)" type="number" value="10">
    </div>
    <div class="page-controls">
      <span (click)="onBtPrevious()" class="page-prev"></span>
      <span id="current" class="page-current"></span>
      <span class="page-of">из</span>
      <span id="total" class="page-total"></span>
      <span class="page-of">страниц</span>
      <span (click)="onBtNext()" class="page-next"></span>
    </div>
  </div>
</div>

<div id="new-user" class="modal new-user">
  <div class="new-user-content">
    <button class="active-btn circle-btn close-btn" (click)="hideModal('new-user')"></button>
    <h2 class="white-header">Новый пользователь</h2>
    <form [formGroup]="newUserForm" (ngSubmit)="createNewUser()">
      <div class="grey-box">
        <div class="col">
<!--          <label for="agreement">Договор:</label>-->
<!--          <input type="text" name="agreement" id="agreement" formControlName="agreement">-->
          <label for="name">Имя:</label>
          <input type="text" name="name" id="name" formControlName="name">
          <p *ngIf="name.touched && name.invalid && name.dirty" class="alert-message">Минимальная длина 4 символа</p>
          <p *ngIf="name.touched && name.invalid && name.pristine" class="alert-message">Данное поле обязательно</p>
          <label for="email">Email:</label>
          <input type="text" name="email" id="email" formControlName="email">
          <p *ngIf="email.touched && email.invalid && email.dirty" class="alert-message">Минимальная длина 4 символа</p>
          <p *ngIf="email.touched && email.invalid && email.pristine" class="alert-message">Данное поле обязательно</p>
          <label for="phone">Телефон:</label>
          <input type="text" name="phone" id="phone" formControlName="phone" mask="(00) 000 00 00" prefix="+375" [showMaskTyped]="true">
          <p *ngIf="phone.touched && phone.invalid && phone.dirty" class="alert-message">Минимальная длина 9 символов</p>
          <p *ngIf="phone.touched && phone.invalid && phone.pristine" class="alert-message">Данное поле обязательно</p>
          <label for="phone2">Телефон 2:</label>
          <input type="text" name="phone2" id="phone2" formControlName="phone2" mask="(00) 000 00 00" prefix="+375" [showMaskTyped]="true">
          <p *ngIf="phone2.touched && phone2.invalid && phone2.dirty" class="alert-message">Минимальная длина 9 символов</p>
        </div>
        <div class="col">
          <label for="login">Логин:</label>
          <input type="text" name="login" id="login" formControlName="login">
          <p *ngIf="login.touched && login.invalid && login.dirty" class="alert-message">Минимальная длина 4 символа</p>
          <p *ngIf="login.touched && login.invalid && login.pristine" class="alert-message">Данное поле обязательно</p>
          <label for="password">Пароль:</label>
          <input type="password" name="password" id="password" formControlName="password">
          <p *ngIf="password.touched && password.invalid && password.dirty" class="alert-message">Минимальная длина 1 символ</p>
          <p *ngIf="password.touched && password.invalid && password.pristine" class="alert-message">Данное поле обязательно</p>
          <label for="password-repeat">Пароль ( повторить):</label>
          <input type="password" name="password-repeat" id="password-repeat" formControlName="passwordRepeat">
          <p *ngIf="passwordRepeat.touched && passwordRepeat.invalid && passwordRepeat.dirty" class="alert-message">Минимальная длина 1 символ</p>
          <p *ngIf="passwordRepeat.touched && passwordRepeat.invalid && passwordRepeat.pristine" class="alert-message">Данное поле обязательно</p>
          <p *ngIf="!passwordEquality" class="alert-message">Пароли должны совпадать</p>
          <label for="group-name">Название группы: </label>
          <mat-form-field floatLabel="never">
            <mat-select formControlName="groupName">
              <mat-option *ngFor="let item of showWithoutAllGroups()" [value]="item.id" class="example-item">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p *ngIf="groupName.touched && groupName.invalid && groupName.pristine" class="alert-message">Данное поле обязательно</p>
        </div>
      </div>
      <div class="form-controls">
        <button class="white-btn round-btn" (click)="hideModal('new-user')">Отмена</button>
        <input type="submit" value="Сохранить">
      </div>
    </form>
  </div>
</div>

<div id="add-group" class="modal groups-modal" *ngIf="showGroupModal">
  <div class="row grey-box">
    <h1 class="grey-header">Добавить группу</h1>
    <form [formGroup]="groupForm">
      <input type="text" formControlName="groupName">
<!--      <div class="checkbox-block">-->
<!--        <input class="checkbox-block-item" type="checkbox" name="new-book" id="new-book" formControlName="book">-->
<!--        <span class="checkbox-block-icon"></span>-->
<!--      </div>-->
<!--      <label for="new-book">Адрессная книга</label>-->
<!--      <div class="checkbox-block">-->
<!--        <input class="checkbox-block-item" type="checkbox" name="new-template" id="new-template" formControlName="template">-->
<!--        <span class="checkbox-block-icon"></span>-->
<!--      </div>-->
<!--      <label for="new-template">Шаблоны</label>-->
      <input type="submit" value="Добавить" (click)="updateGroups()">
    </form>
    <div *ngIf="groupsList.length > 0" class="row groups">
<!--      <p>Выберите к какой группе пользователей доступны данные адресной книги и шаблонов</p>-->
    </div>
    <div *ngIf="groupsList.length === 0" class="row groups">
      <p>Список групп пуст</p>
    </div>
    <div class="groups-content">
      <div *ngFor="let item of showWithoutAllGroups()">
        <p>{{item.name}}</p>
        <a (click)="setCurrentGroupToDelete($event)" attr.group="{{item.id}}">Удалить</a>

<!--        <div class="checkbox-block">-->
<!--          <input class="checkbox-block-item" type="checkbox" name="new-book-{{item.id}}" id="new-book-{{item.id}}" [checked]="item.addressBookAccess">-->
<!--          <span class="checkbox-block-icon"></span>-->
<!--        </div>-->
<!--        <label for="new-book">Адрессная книга</label>-->
<!--        <div class="checkbox-block">-->
<!--          <input class="checkbox-block-item" type="checkbox" name="new-template-{{item.id}}" id="new-template-{{item.id}}" formControlName="template" [checked]="item.templateAcces">-->
<!--          <span class="checkbox-block-icon"></span>-->
<!--        </div>-->
<!--        <label for="new-template">Шаблоны</label>-->
      </div>
    </div>
  </div>
</div>

<div id="ask-if-delete-group" class="modal ask-if-delete-group">
  <p class="white-header">Вы действительно хотите удалить группу?</p>
  <div class="row">
    <button class="green-btn round-btn" (click)="deleteGroup($event)">Удалить</button>
    <button class="white-btn round-btn" (click)="hideModal('ask-if-delete-group')">Отменить</button>
  </div>
</div>
