<div class="profile-content">
  <div class="box-1">
    <form [formGroup]="commonForm">
      <h2 class="white-header">Общее</h2>
      <div class="grey-box">
        <h2 class="grey-header">Имя:</h2>
        <h2 class="grey-header m-0">Email:</h2>
        <h2 class="grey-header m-0">Телефон</h2>
        <input formControlName="userName" class="m-0" type="text" placeholder="Введите имя">
        <input formControlName="userEmail" class="m-0" type="email" placeholder="Введите email">
        <input formControlName="userPhone" class="m-0" type="tel" placeholder="Введите номер телефона">
<!--        <p class="description mt-10">Andrey</p>-->
<!--        <p class="description mt-10">bartashevich.s@ntt.by</p>-->
<!--        <p class="description mt-10">+375 29 342-5554 </p>-->
      </div>
      <input type="submit" class="btn-green" value="Сохранить">
    </form>
  </div>
  <div class="box-2">
    <form>
      <h2 class="white-header">Настройки отправителя</h2>
      <div class="grey-box">
        <h2 class="grey-header">Отправитель:</h2>
        <p class="description mt-10">ООО "НТТ Импорт"</p>
        <h2 class="grey-header">Адрес выдачи груза:</h2>
        <p style="max-width: 515px" class="description mt-10">МИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2</p>
        <h2 class="grey-header">Контакт (по адресу выдачи груза):</h2>
        <p class="description mt-10">Артём</p>
        <div class="row">
          <label class="mr-15" style="display: inline-block" for="use-as-main">Использовать как основной: </label>
          <div class="checkbox-block" style="margin-right: 15px;">
            <input class="checkbox-block-item" type="checkbox" name="use-as-main" id="use-as-main" checked>
            <span class="checkbox-block-icon"></span>
          </div>
        </div>
      </div>
      <input type="submit" value="Сохранить">
    </form>
  </div>
  <div class="box-4">
    <form>
      <h2 class="white-header">Настройки получателя</h2>
      <div class="grey-box">
        <h2 class="grey-header">Получатель:</h2>
        <p class="description mt-10">ООО "НТТ Импорт"</p>
        <h2 class="grey-header">Адрес получателя груза:</h2>
        <p style="max-width: 515px" class="description mt-10">МИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2</p>
        <h2 class="grey-header">Контакт (по адресу доставки груза):</h2>
        <p class="description mt-10">Артём</p>
        <div class="row">
          <label class="mr-15" style="display: inline-block" for="use-as-main">Использовать как основной: </label>
          <div class="checkbox-block" style="margin-right: 15px;">
            <input class="checkbox-block-item" type="checkbox" name="use-as-main" id="use-as-main" checked>
            <span class="checkbox-block-icon"></span>
          </div>
        </div>
      </div>
      <input type="submit" value="Сохранить">
    </form>
  </div>
  <div class="box-3">
    <form>
      <h2 class="white-header">Уведомления</h2>
      <div class="grey-box">
        <div class="row m-0">
          <div class="checkbox-block" style="margin-right: 15px;">
            <input class="checkbox-block-item" type="checkbox" name="notify" id="notify" checked>
            <span class="checkbox-block-icon"></span>
          </div>
          <label class="description mt-10" style="display: inline" for="notify">Уведомлять о предварительной стоимости доставки груза по заявке</label>
        </div>
        <div class="row">
          <div class="checkbox-block" style="margin-right: 15px;">
            <input class="checkbox-block-item" type="checkbox" name="sms" id="sms" checked>
            <span class="checkbox-block-icon"></span>
          </div>
          <label class="description mt-10" style="display: inline" for="sms">Смс-оповещение о приходе груза</label>
        </div>
        <div class="row">
          <div class="checkbox-block" style="margin-right: 15px;">
            <input class="checkbox-block-item" type="checkbox" name="cost" id="cost" checked>
            <span class="checkbox-block-icon"></span>
          </div>
          <label class="description mt-10" style="display: inline" for="cost">Уведомлять о предварительной стоимости доставки груза по заявке</label>
        </div>
      </div>
      <input type="submit" value="Сохранить">
    </form>
  </div>
</div>
