.ag-theme-alpine .ag-row-selected {
  background-color: #a871d9 !important;
}

.ag-root-wrapper.ag-layout-normal.ag-ltr {
  border-radius: 10px;
}

.ag-header {
  background-color: transparent !important;
}

.ag-header-viewport {
  background-color: #8D60B5;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ag-header-cell-text {
  font-family: "Montserrat-SemiBold", sans-serif !important;
  font-size: 12px;
  color: #FFFFFF;
}

.ag-header-cell.ag-focus-managed.ag-header-cell-sortable {
  background-color: #8D60B5;
}

.ag-theme-alpine {
  @include ag-theme-alpine((
    odd-row-background-color: #EEE6F5,
    row-hover-color: rgb(200, 142, 250),
    row-height: 45px,
    borders: true,
    row-border-color: #C0A5D9,
    cell-horizontal-border: solid #C0A5D9,
    header-column-separator: true,
    header-column-separator-height: 100%,
    header-column-separator-width: 1px,
    header-column-separator-color: #C0A5D9,
    selected-row-background-color: #EEE6F5,
    checkbox-indeterminate-color: transparent,
    checkbox-checked-color: transparent,
    range-selection-border-color: transparent,
  ));
}

.ag-row-hover .ag-cell {
  color: #48206B;
}


.ag-cell {
  font-family: "Montserrat-Medium", sans-serif !important;
  font-size: 12px;
  color: #000000;
  height: 45px;
}

.ag-wrapper.ag-input-wrapper.ag-checkbox-input-wrapper,
.ag-wrapper.ag-input-wrapper.ag-checkbox-input-wrapper.ag-checked {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: 16px;
  height: 16px;
  color: transparent;
  background-color: transparent;
  outline: none;
}

.ag-wrapper.ag-input-wrapper.ag-checkbox-input-wrapper {
  background-image: url("/assets/img/common/unchecked.svg");
  outline: none;
}

.ag-wrapper.ag-input-wrapper.ag-checkbox-input-wrapper.ag-checked {
  background-image: url("/assets/img/common/checked.svg");
  outline: none;

}

.ag-theme-alpine .ag-checkbox-input-wrapper.ag-checked::after {
  color: transparent;
  outline: none;
  background-color: transparent;
}

.ag-theme-alpine .ag-checkbox-input-wrapper::after {
  color: transparent;
  outline: none;
  background-color: transparent;
}

.ag-header-cell.ag-focus-managed.ag-header-cell-sortable:last-of-type::after {
  border: none;
}

.ag-theme-alpine .ag-header-cell:last-of-type::after, .ag-theme-alpine .ag-header-group-cell:last-of-type::after {
  width: 0;
}

.ag-theme-alpine .ag-header-cell-resize::after {
  width: 0;
}

.ag-root-wrapper.ag-layout-normal.ag-ltr {
  overflow: visible;
}

.ag-paging-panel {
  width: 100%;
  position: absolute;
  top: 108%;
  left: 0;
  z-index: 999;
  background-color: #B3A4C1;
  padding: 30px;
  border-radius: 10px;
  box-sizing: border-box;
  height: 90px;
}

.ag-theme-alpine .ag-paging-panel {
  //height: auto;
}

.ag-paging-row-summary-panel {
  display: none;
}

.ag-theme-alpine .ag-paging-panel > * {
  margin: 0 auto;
}

.ag-paging-description span {
  &:first-of-type {
    display: none;
  }

  &:nth-of-type(2) {
    padding: 8px 24px;
    box-sizing: border-box;
    line-height: 1;
    font-family: "Montserrat-SemiBold", sans-serif !important;
    font-size: 14px;
    color: #5A5A5A;
    background-color: #FFFFFF;
    border-radius: 7px;
    border: 1px solid #E0E4E7;
    margin-left: 10px;
  }

  &:nth-of-type(3) {
    visibility: hidden;

    &::after {
      content: 'из';
      visibility: visible;
      font-family: "Montserrat-SemiBold", sans-serif !important;
      font-size: 14px;
      color: #FFFFFF;
    }
  }

  &:nth-of-type(4) {
    font-family: "Montserrat-SemiBold", sans-serif !important;
    font-size: 14px;
    color: #FFFFFF;

    &::after {
      font-family: "Montserrat-SemiBold", sans-serif !important;
      font-size: 14px;
      color: #FFFFFF;
      content: ' страниц';
    }
  }
}

.ag-navigation-custom {
  position: relative;
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.num-of-items span {
  font-family: "Montserrat-SemiBold", sans-serif !important;
  font-size: 12px;
  color: #FFFFFF;
}

.num-of-items input {
  color: #5A5A5A;
  max-width: 60px;
  text-align: center;
  box-sizing: border-box;
  line-height: 1;
  padding: 8px 15px;
  margin-left: 10px;
  margin-top: 0;
  border: 1px solid #E0E4E7;
}

.page-controls {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-prev {
  display: block;
  width: 9px;
  height: 15px;
  background-image: url("../../assets/img/common/prev.svg");
}

.page-next {
  display: block;
  width: 9px;
  height: 15px;
  background-image: url("../../assets/img/common/next.svg");
}

.page-current {
  width: 60px;
  display: block;
  margin: 0 8px;
  padding: 8px 15px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #E0E4E7;
  border-radius: 5px;
  font-family: "Montserrat-SemiBold", sans-serif !important;
  font-size: 12px;
  color: #5A5A5A;
  text-align: center;
}

.page-of, .page-total {
  font-family: "Montserrat-SemiBold", sans-serif !important;
  font-size: 12px;
  color: #FFFFFF;
}

.page-of {
  margin: 0 5px;
}

.page-next {
  margin-left: 25px;
}

.controls-current-number {
  max-width: 56px !important;
  padding: 8px 10px !important;
  font-size: 1.2rem !important;
  margin-top: 0 !important;
  border: 1px solid #E0E4E7 !important;
  color: black;
}

.table-icon {
  display: flex;
  align-items: center;
}

.table-icon .list-icon-white {
  display: none;
  margin-right: 20px;
}

.table-icon .list-icon-dark {
  display: inline-block;
  margin-right: 20px;
}

.table-icon:hover .table-icon .list-icon-white {
  display: inline-block !important;
}

.table-icon:hover .table-icon .list-icon-dark {
  display: none !important;
}

.ag-cell span {
  display: flex;
  align-items: center;
}

.table-buttons {
  display: flex;

  &_box {
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background: linear-gradient(270deg, rgba(161, 54, 255, 0.255) 0%, rgba(161, 54, 255, 0) 102.51%);
    backdrop-filter: blur(9px);

    button {
      background: none;
      padding: 0;
      width: 24px;
      height: 24px;
      margin-left: 16px;
      opacity: .7;
      transition: .2s;
      background-size: contain;
      background-repeat: no-repeat;

      @media (max-width: 1600px) {
        width: 20px;
        height: 20px;;
      }

      &:hover {
        opacity: 1;
      }
    }
  
    .buttons-copy {
      background-image: url("/assets/img/common/icon-copy.svg");
    }
    
    .buttons-edit {
      background-image: url("/assets/img/common/icon-edit.svg");
    }
    
    .buttons-view {
      background-image: url("/assets/img/common/icon-view.svg");
    }
    
    .buttons-remove {
      background-image: url("/assets/img/common/icon-trash.svg");
    }
  }
}

.ag-row {

  &:hover {
    .table-buttons_box {
      opacity: 1;
      visibility: visible;
    }
  }
}

.flex-column {
  flex-direction: column;
}

.b-plus {
  background-image: url("/assets/img/common/icon-plus.svg");
  background-position: 90% 50%;
  background-repeat: no-repeat;
}

.row-controls-single {
  position: relative;

  .b-plus {
    background-position: 95% 50%;
  }
}

.col-30 {
  width: 30%;
}

.col-33 {
  width: 33.333333333333336%;
}

.col-50 {
  width: 48%;
}

.col-70 {
  width: 70%;
}

.col-100 {
  width: 100%;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.ml-30 {
  margin-left: 30px;
}

.justify-content-end {
  justify-content: flex-end;
}

.bbw {
  border-bottom: 1px solid #FFFFFF;
}

.cb {
  color: #000 !important;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.switch-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-btn:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch-btn {
  background-color: #ABCF37
}

input:focus + .switch-btn {
  box-shadow: 0 0 1px #ABCF37
}

input:checked + .switch-btn:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch-btn.round {
  border-radius: 34px;
}

.switch-btn.round:before {
  border-radius: 50%;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.fw-400 {
  font-weight: 400;
}

.flex-wrap {
  flex-wrap: wrap;
}

.bbb {
  border-bottom: 1px solid #000;
}

.grey-box {
  
  @media print {
    display: none !important;
  }
}

.bshadow {
  img {
    width: 100px;
  }
}

@media print {
  .journal-content,
  .navigation,
  .close-btn,
  .popup_title {
    display: none !important;
  }
}