.alert-message {
  font-size: 1.2rem;
  margin: 5px 0 0 0;
  color: red;
}

.show-alert-message {
  display: block !important;
}

.hide-alert-message {
  display: none;
}

.alert-message-password {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

label {
  display: block;
  font-family: "Montserrat-SemiBold", sans-serif !important;
  font-size: 1.4rem;
  color: rgba(0,0,0,0.5);
  margin-top: 20px;

  &:first-of-type {
    margin-top: 0;
  }

  @media (max-width: 2000px) {
    & {
      font-size: 1.2rem;
      line-height: 12px;
    }
  }
}

.active-label,
.inactive-label {
  margin: 0 20px 0 0;
  display: inline-block;
  color: #000000;
}

.active-label {
  font-family: "Montserrat-SemiBold", sans-serif !important;
}

.inactive-label {
  font-family: "Montserrat-Medium", sans-serif !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="date"],
input[type="time"]{
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 12px 15px;
  margin-top: 12px;
  font-family: "Montserrat-Medium", sans-serif !important;
  font-size: 1.4rem;
  // color: rgba(0,0,0,0.5);
  color: #000;

  @media (max-width: 2000px) {
    & {
      margin-top: 8px;
      font-size: 1.2rem;
      padding: 9px 12px;
    }
  }
}

.submit-btn {
  margin-top: 40px;

  @media (max-width: 2000px) {
    & {
      margin-top: 30px;
    }
  }
}

input[type="submit"] {
  padding: 15px 60px;
  background-color: #ABCF37;
  color: #FFFFFF;
  font-size: 1.4rem;
  outline: none;
  transition: all .5s;
  border: none;
  border-radius: 25px;
  font-family: "Montserrat-Medium", sans-serif !important;
  cursor: pointer;

  @media (max-width: 2000px) {
    & {
      font-size: 1.2rem;
    }
  }

  &:hover {
    background-color: #95b430;
  }

  &[disabled] {
    background-color: #ABCF37;
  }

  @media (max-width: 2000px) {
    & {
      padding: 13px 40px;
    }
  }
}

.checkbox-block {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  box-sizing: border-box;

  @media (max-width: 2000px) {
    & {
      width: 18px;
      height: 18px;
      margin-right: 8px !important;
    }
  }

  &-item {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &-icon {
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 3px solid #C0A5D9;
    border-radius: 5px;
    margin-right: 15px;
    // transition: all .3s;
    box-sizing: border-box;
  }

  &:hover {
    transition: all .5s;
  }

  &:hover &-item ~ &-icon {
    background-color: #e2dae8;
  }

  & &-item:checked ~ &-icon {
    background-color: #FFFFFF;
    border: 3px solid #C0A5D9;
    background-image: url("../../assets/img/common/checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }
}

button {
  display: inline-block;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px 60px;
  font-family: "Montserrat-SemiBold", sans-serif !important;
  font-size: 1.4rem;
  cursor: pointer;

  @media (max-width: 2000px) {
    & {
      padding: 12px 30px;
      font-size: 12px;
    }
  }

  &.white-btn {
    background-color: #FFFFFF;
    color: rgba(0,0,0,0.5);
    transition: all 1s;

    &:hover {
      background-color: #eeeeee;
    }

    &[disabled] {
      background-color: #FFFFFF;
    }
  }

  &.green-btn {
    background-color: #ABCF37;
    transition: all 1s;
    color: #FFFFFF;
    white-space: nowrap;

    &:hover {
      background-color: #95b430;
    }
  }

  &.transparent-btn {
    background-color: transparent;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
  }

  &.delete-btn {
    width: 20px;
    height: 20px;
    background-image: url("../../assets/img/common/icon-trash.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &.edit-btn {
    width: 20px;
    height: 20px;
    background-image: url("../../assets/img/common/icon-edit.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &.circle-btn {
    width: 45px;
    height: 45px;
    padding: 0;
    border-radius: 50px;

    @media (max-width: 2000px) {
      & {
        width: 30px;
        height: 30px;
        background-size: 32%;
      }
    }
  }

  &.close-btn {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../assets/img/common/close.svg");
  }

  &.active-btn {
    background-color: #8D60B5;
    color: #FFFFFF;
    transition: all 1s;

    &:hover {
      background-color: #5e2f88;
    }

    &[disabled] {
      background-color: #8D60B5;
    }
  }

  &.add-btn {
    width: 45px;
    height: 45px;
    padding: 0;
    border-radius: 45px;
    background-image: url("../../assets/img/common/add.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 2000px) {
      & {
        width: 30px;
        height: 30px;
        background-size: 50%;
      }
    }
  }

  &.minus-btn {
    width: 45px;
    height: 45px;
    padding: 0;
    border-radius: 45px;
    background-image: url("../../assets/img/common/minus.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 2000px) {
      & {
        width: 30px;
        height: 30px;
        background-size: 50%;
      }
    }
  }

  &.red-btn {
    background: #D16C65;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    padding: 0;
  }

  &.change-btn {
    width: 45px;
    height: 45px;
    padding: 0;
    background-image: url("../../assets/img/common/repeat.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &.unpin-btn {
    background-image: url("../../assets/img/common/unpin.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &.round-btn {
    border-radius: 40px;
  }
}

.add-file-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &-item {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  & input[type="file"] {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

textarea {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 10px;
  resize: none;
  overflow: auto;
  padding: 12px 15px;
  font-family: "Montserrat-Medium", sans-serif !important;
  font-size: 1.4rem;
  color: rgba(0,0,0,0.5);
  box-sizing: border-box;
}
