.mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
  color: transparent !important;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0 !important;
}

.example-viewport {
  height: 168px;
  width: 100%;
}

.example-item {
  height: 42px;
}

.mat-form-field {
  margin-top: 12px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  display: block;
  position: relative;
  text-align: left;

  @media (max-width: 2000px) {
    & {
      margin-top: 6px;
    }
  }
}

.mat-form-field-wrapper {
  max-height: 45px;

  @media (max-width: 2000px) {
    & {
      max-height: 100%;
    }
  }
}

.mat-select-value-text,
.mat-option-text {
  font-family: "Montserrat-Medium", sans-serif !important;
  font-size: 14px;
  color: #000000;

  @media (max-width: 2000px) {
    & {
      font-size: 12px;
    }
  }
}


.mat-form-field-infix {
  padding: 0.5em 12px;
  border-top: 0.6em solid transparent;
  width: 100% !important;
}

.mat-select-arrow {
  width: 24px !important;
  height: 24px !important;
  color: transparent;
  background-image: url("../../assets/img/common/select.svg");
  background-repeat: no-repeat;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: transparent;
}

.mat-option.mat-active {
  background-color: #A070B5 !important;
}

.mat-option.mat-active  .mat-option-text {
  color: #FFFFFF;
}

.mat-form-field-underline {
  display: none !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.4375em 15px;

  @media (max-width: 2000px) {
    & {
      padding: 3px 15px 0 15px;
    }
  }
}

.mat-h2, .mat-title,
.mat-typography h2,
.mat-body, .mat-body-1,
.mat-typography {
  font-family: "Montserrat-SemiBold", sans-serif;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-keyboard-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-program-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: #EEE6F5;
}

.mat-calendar-body-selected {
  background-color: #8D60B5;
  color: #fff;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: transparent;
}

.mat-calendar-body-cell-content,
.mat-calendar-table-header th,
.mat-button-wrapper,
.mat-button-wrapper span,
.mat-calendar-body-label {
  font-family: 'Montserrat-Medium';
}

.mat-button-wrapper span {
  font-weight: 700;
}

.mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button {
  color: #333333;
}

.mat-calendar-table-header th {
  font-weight: 600;
  color: #333;
}

.mat-calendar-body-disabled > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  font-weight: 500;
  color: #A8A8A8;
}

.mat-datepicker-content {
  border-radius: 14px !important;
}

.mat-datepicker-content .mat-calendar {

}

.mat-form-field-appearance-fill {
  .mat-form-field-flex {
    padding: 0 15px 0 15px !important;
    display: flex;
    align-items: center;
    background: transparent;
  }
}
