<div class="login-content" style="display: block;">
  <p class="preheader">
    Пожалуйста, введите свои данные для вход в личный кабинет
  </p>

  <div class="grey-box form">
    <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
      <label for="login">Логин</label>
      <input type="text" name="login" id="login" formControlName="userName">
      <label for="password">Пароль</label>
      <input type="password" name="password" id="password" formControlName="password">
      <input type="submit" value="Войти" class="submit-btn" [disabled]="loginForm.invalid">
    </form>
  </div>

  <p class="preheader" >
    Личный кабинет работает в тестовом режиме. Возможны ошибки. <br>
    Если возникают трудности обратитесь в тех. поддержку. <br>
    Приносим извинения за временные неудобства!
  </p>
</div>

