<div class="container">
  <div class="navigation">
    <div class="logo">
      <a href=""></a>
    </div>
    <ul class="unsigned">
      <li>
        <a routerLinkActive="active-menu" [routerLink]="['login']">
          <img src="../assets/img/menu/login-white.svg" class="white-icon" alt="ico">
          <img src="../assets/img/menu/login-black.svg" class="black-icon" alt="ico">
          <span class="menu-text">Вход</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active-menu" [routerLink]="['recover']">
          <img src="../assets/img/menu/recover-white.svg" class="white-icon" alt="ico">
          <img src="../assets/img/menu/recover-black.svg" class="black-icon" alt="ico">
          <span class="menu-text">Забыли пароль</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active-menu" [routerLink]="['registration']">
          <img src="../assets/img/menu/registration-white.svg" class="white-icon" alt="ico">
          <img src="../assets/img/menu/registration-black.svg" class="black-icon" alt="ico">
          <span class="menu-text">Регистрация</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active-menu" [routerLink]="['calculator']">
          <img src="../assets/img/menu/calculator-white.svg" class="white-icon" alt="ico">
          <img src="../assets/img/menu/calculator-black.svg" class="black-icon" alt="ico">
          <span class="menu-text">Калькулятор</span>
        </a>
      </li>
    </ul>

<!--    <ul class="signed">-->
<!--      -->
<!--    </ul>-->
  </div>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
