.agreement-show {
  display: grid;
}

.agreement-hide {
  display: none !important;
}

.person-with-agreement-show {
  display: grid;
}

.person-with-agreement-hide {
  display: none !important;
}

.person-without-agreement-show {
  display: grid;
}

.person-without-agreement-hide {

  display: none !important;
}

.flex {
  display: flex;
}

.register-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas: "controls" "forms";
  grid-gap: 20px;
  margin: 0 40px;

  h2 {
    font-size: 14px;

    @media (max-width: 2000px) {
      & {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  &-controls {
    grid-area: controls;

    & .column-controls {
      grid-area: column-controls;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "item-1 item-2";
      grid-gap: 30px;

      & .item-1 {
        grid-area: item-1;
      }

      & .item-2 {
        grid-area: item-2;
      }
    }

    &-row {
      display: flex;
      box-sizing: border-box;
      align-items: center;
      margin-top: 20px;

      @media (max-width: 2000px) {
        & {
          margin-top: 10px;
        }
      }
    }
  }

  &-forms {
    grid-area: forms;
    width: 100%;
    height: 100%;

    &-with-agreement {
      width: 100%;
      height: 100%;

      & form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content min-content;
        grid-template-areas: "controls" "row-controls" "column-controls" "row-submit";
        grid-gap: 30px;

        @media (max-width: 2000px) {
          & {
            grid-gap: 20px;
          }
        }

        & .user-type-controls {
          grid-area: controls;

          &-container {
            max-width: 420px;
            display: flex;
            justify-content: space-between;

            @media (max-width: 2000px) {
              max-width: 260px;
            }
          }
        }

        & .row-controls {
          grid-area: row-controls;
          display: grid;
          grid-template-rows: min-content;
          grid-template-columns: 1fr 1fr;
          grid-template-areas: "item-1 item-2";
          grid-gap: 30px;

          & .row-item-1 {
            grid-area: item-1;
          }

          & .row-item-2 {
            grid-area: item-2;
          }
        }

        & .column-controls {
          grid-area: column-controls;
          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: 1fr 1fr;
          grid-template-areas: "item-1 item-2";
          grid-gap: 30px;

          & .item-1 {
            grid-area: item-1;
          }

          & .item-2 {
            grid-area: item-2;
          }
        }

        & .row-submit {
          grid-area: row-submit;
        }
      }
    }

    &-without-agreement {
      width: 100%;
      height: 100%;

      & form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
        grid-template-areas: "main-row" "submit-row";
        grid-gap: 30px;

        & .main-row {
          grid-area: main-row;
          display: grid;
          grid-template-rows: min-content min-content;
          grid-template-columns: 1fr 1fr;
          grid-template-areas: "col-1 col-2" "col-3 col-4";
          grid-gap: 85px 30px;

          & .col-1 {
            grid-area: col-1;

            & .row-controls {
              max-width: 420px;
              display: flex;
              justify-content: space-between;
            }
          }

          & .col-2 {
            grid-area: col-2;
          }

          & .col-3 {
            grid-area: col-3;
          }

          & .col-4 {
            grid-area: col-4;
          }
        }

        & .submit-row {
          grid-area: submit-row;
        }
      }
    }
  }
}

.register-content-forms-without-agreement form .main-row .col-3,
.register-content-forms-without-agreement form .main-row .col-4 {
  position: relative;
  width: 100%;
  height: 100%;

  & .mark {
    position: absolute;
    top: -40px;
    left: 0;
    font-family: "Montserrat-SemiBold", sans-serif !important;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
  }

}

.fiz-row {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas: "item-1 item-2";
  grid-gap: 0 20px;

  &-item-1 {
    grid-area: item-1;
  }

  &-item-2 {
    grid-area: item-2;
  }
}

.user-updated {
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -2%);
  background-color: #8D60B5;
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  -webkit-box-shadow: 5px 5px 38px 1px #000000;
  box-shadow: 5px 5px 38px 1px #000000;
  transition: all .3s;

  & .white-header {
    margin-bottom: 0;
    font-size: 1.5rem !important;
  }
}

.show-modal {
  display: grid !important;
  transition: all .3s;
}

.hide-modal {
  display: none !important;
  transition: all .3s;
}

.alert-input {
  border: 2px solid red;
}
