.agreement-show {
  display: grid;
}

.agreement-hide {
  display: none !important;
}

.person-with-agreement-show {
  display: block;
}

.person-with-agreement-hide {
  display: none;
}

.person-without-agreement-show {
  display: block;
}

.person-without-agreement-hide {

  display: none;
}

.register-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas: "controls" "main" "submit";
  grid-gap: 30px;

  &-controls {
    grid-area: controls;

    &-row {
      display: flex;
      box-sizing: border-box;
      align-items: center;
      margin-top: 20px;
    }
  }


}

.register-content-main-without-agrement-col-3-ur,
.register-content-main-without-agrement-col-3-fiz,
.register-content-main-without-agrement-col-4-ur{
  position: relative;
  width: 100%;
  height: 100%;

  & .mark {
    position: absolute;
    top: -80px;
    left: -30px;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
  }
}

.fiz-row {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas: "item-1 item-2";
  grid-gap: 0 20px;

  &-item-1 {
    grid-area: item-1;
  }

  &-item-2 {
    grid-area: item-2;
  }
}
