<div class="register-content">
  <div class="register-content-controls">
    <div class="grey-box column-controls">
      <div class="item-1">
        <h2 class="grey-header">Наличие транспортного договора</h2>
        <div class="register-content-controls-row">
          <div class="checkbox-block" style="margin-right: 15px;">
            <input class="checkbox-block-item" type="radio" name="type" id="type1" (change)="agreement = !agreement" checked>
            <span class="checkbox-block-icon"></span>
          </div>
          <label for="type1" [ngClass]="{'active-label': !agreement, 'inactive-label': agreement}">Есть договор</label>
          <!-- <div class="checkbox-block" style="margin-right: 15px;">
            <input class="checkbox-block-item" type="radio" name="type" id="type2" (change)="agreement = !agreement">
            <span class="checkbox-block-icon"></span>
          </div>
          <label for="type2" [ngClass]="{'active-label': agreement, 'inactive-label': !agreement}">Нет договора</label> -->
        </div>
      </div>
<!--      <p class="warning-left mt-20 item-2">-->
<!--        <span class="thin-black-text">Заполните ,пожалуйста, форму  для заключения договора</span>-->
<!--      </p>-->
    </div>
  </div>
  <div class="register-content-forms">
    <div class="register-content-forms-with-agreement"
         [ngClass]="{'agreement-show': !agreement, 'agreement-hide': agreement}">
<!--      Entity with agreement-->
      <form [formGroup]="entityUserWithAgreementForm" (ngSubmit)="doRegistration()"
            [ngClass]="{'person-with-agreement-show': !personWithAgreement, 'person-with-agreement-hide': personWithAgreement}">
<!--        Person type controls-->
        <div class="grey-box user-type-controls">
          <div class="user-type-controls-container">
            <button class="with-agreement-control-btn active-btn" disabled>Юр. лицо</button>
            <!-- <button class="with-agreement-control-btn white-btn" (click)="toggleWithAgreement()">Физ. лицо</button> -->
          </div>
        </div>
<!--        Compnay and UNP row-->
        <div class="grey-box row-controls">
          <div class="row-item-1 pr-30">
            <label for="ur-with-company">Компания</label>
            <input class="entity-with-agreement-control" type="text" name="ur-with-company"
                   id="ur-with-company"
                   placeholder="Введите название компании"
                   formControlName="companyName">
            <p class="alert-message"
               *ngIf="entityUserWithAgreementForm.get('companyName').invalid &&
               entityUserWithAgreementForm.get('companyName').touched &&
               entityUserWithAgreementForm.get('companyName').pristine"
            >Данное поле обязательно</p>
            <p class="alert-message"
               *ngIf="entityUserWithAgreementForm.get('companyName').invalid &&
               entityUserWithAgreementForm.get('companyName').touched &&
               entityUserWithAgreementForm.get('companyName').dirty"
            >Мнимальная длина 4 символа</p>
          </div>
          <div class="row-item-2 pl-30">
            <label for="ur-with-unp">УНП компании</label>
            <input class="entity-with-agreement-control" type="text" name="ur-with-unp"
                   id="ur-with-unp"
                   placeholder="Введите УНП"
                   formControlName="unp">
            <p class="alert-message"
               *ngIf="entityUserWithAgreementForm.get('unp').invalid &&
               entityUserWithAgreementForm.get('unp').touched &&
               entityUserWithAgreementForm.get('unp').pristine"
            >Данное поле обязательно</p>
            <p class="alert-message"
               *ngIf="entityUserWithAgreementForm.get('unp').invalid &&
               entityUserWithAgreementForm.get('unp').touched &&
               entityUserWithAgreementForm.get('unp').dirty"
            >Мнимальная длина 4 символа</p>
          </div>
        </div>
<!--        Main fields-->
        <div class="column-controls">
          <div class="grey-box item-1">
            <label for="ur-with-name">Имя</label>
            <input class="entity-with-agreement-control" type="text" name="ur-with-name"
                   id="ur-with-name"
                   placeholder="Введите имя"
                   formControlName="userName">
            <p class="alert-message"
               *ngIf="entityUserWithAgreementForm.get('userName').invalid &&
               entityUserWithAgreementForm.get('userName').touched &&
               entityUserWithAgreementForm.get('userName').pristine"
            >Данное поле обязательно</p>
            <p class="alert-message"
               *ngIf="entityUserWithAgreementForm.get('userName').invalid &&
               entityUserWithAgreementForm.get('userName').touched &&
               entityUserWithAgreementForm.get('userName').dirty"
            >Мнимальная длина 4 символа</p>
            <label for="ur-with-email">Email</label>
            <input class="entity-with-agreement-control" type="email" name="ur-with-email"
                   id="ur-with-email"
                   placeholder="Введите email"
                   formControlName="email">
            <p class="alert-message"
               *ngIf="entityUserWithAgreementForm.get('email').invalid &&
               entityUserWithAgreementForm.get('email').touched &&
               entityUserWithAgreementForm.get('email').pristine"
            >Данное поле обязательно</p>
            <p class="alert-message"
               *ngIf="entityUserWithAgreementForm.get('email').invalid &&
               entityUserWithAgreementForm.get('email').touched &&
               entityUserWithAgreementForm.get('email').dirty"
            >Введите корректный email</p>
            <label for="ur-with-phone">Телефон</label>
            <input class="entity-with-agreement-control" type="tel" name="ur-with-phone"
                   id="ur-with-phone"
                   placeholder="Введите телефон"
                   formControlName="phone"
                   (keypress)="keyPress($event)"
            >
            <p class="alert-message"
               *ngIf="entityUserWithAgreementForm.get('phone').invalid &&
               entityUserWithAgreementForm.get('phone').touched &&
               entityUserWithAgreementForm.get('phone').pristine"
            >Данное поле обязательно</p>
            <p class="alert-message"
               *ngIf="entityUserWithAgreementForm.get('phone').invalid &&
               entityUserWithAgreementForm.get('phone').touched &&
               entityUserWithAgreementForm.get('phone').dirty"
            >Минимальная длина 7 символов</p>
          </div>
          <div class="grey-box item-2">
            <label for="ur-with-login">Логин</label>
            <input class="entity-with-agreement-control" type="text" name="ur-with-login"
                   id="ur-with-login"
                   placeholder="Введите логин"
                   formControlName="login">
            <p class="alert-message"
               *ngIf="entityUserWithAgreementForm.get('login').invalid &&
               entityUserWithAgreementForm.get('login').touched &&
               entityUserWithAgreementForm.get('login').pristine"
            >Данное поле обязательно</p>
            <p class="alert-message"
               *ngIf="entityUserWithAgreementForm.get('login').invalid &&
               entityUserWithAgreementForm.get('login').touched &&
               entityUserWithAgreementForm.get('login').dirty"
            >Кириллица не допускается</p>
            <label for="ur-with-password">Пароль</label>
            <input class="entity-with-agreement-control" type="password" name="ur-with-password"
                   id="ur-with-password"
                   placeholder="Введите пароль"
                   formControlName="password">
            <p class="alert-message"
               *ngIf="entityUserWithAgreementForm.get('password').invalid &&
               entityUserWithAgreementForm.get('password').touched &&
               entityUserWithAgreementForm.get('password').pristine"
            >Данное поле обязательно</p>
            <label for="ur-with-password-repeat">Пароль (подтвердить)</label>
            <input class="entity-with-agreement-control" type="password" name="ur-with-password-repeat"
                   id="ur-with-password-repeat"
                   placeholder="Повторите пароль"
                   formControlName="passwordRepeat">
            <p class="alert-message"
               *ngIf="entityUserWithAgreementForm.get('passwordRepeat').invalid &&
               entityUserWithAgreementForm.get('passwordRepeat').touched &&
               entityUserWithAgreementForm.get('passwordRepeat').pristine"
            >Данное поле обязательно</p>
            <p class="alert-message"
               [ngClass]="{'show-alert-message': passwordEquality, 'hide-alert-message': !passwordEquality}"
            >Пароли не совпадают</p>
          </div>
        </div>
<!--        Register row-->
        <div class="row-submit">
          <input type="submit" value="Регистрация">
        </div>
      </form>

<!--      Individual with agreement-->
      <form [formGroup]="individualUserWithAgreementForm" (ngSubmit)="doRegistration()"
            [ngClass]="{'person-with-agreement-show': personWithAgreement, 'person-with-agreement-hide': !personWithAgreement}">
<!--        Person type controls-->
        <div class="grey-box user-type-controls">
          <div class="user-type-controls-container">
            <button class="with-agreement-control-btn white-btn" (click)="toggleWithAgreement()">Юр. лицо</button>
            <button class="with-agreement-control-btn active-btn" disabled>Физ. лицо</button>
          </div>
        </div>
<!--        Passport row-->
        <div class="grey-box row-controls">
          <div class="row-item-1 pr-30">
            <label for="fiz-with-passport">Идентификационный  номер паспорта</label>
            <input type="text" name="fiz-with-passport" id="fiz-with-passport" placeholder="Введите идентификационный  номер паспорта" formControlName="passportNumber">
          </div>
        </div>
<!--        Main fields-->
        <div class="column-controls">
          <div class="grey-box item-1">
            <label for="fiz-with-name">Имя</label>
            <input type="text" name="fiz-with-name" id="fiz-with-name" placeholder="Введите имя" formControlName="userName">
            <label for="fiz-with-email">Email</label>
            <input type="email" name="fiz-with-email" id="fiz-with-email" placeholder="Введите email" formControlName="email">
            <label for="fiz-with-phone">Телефон</label>
            <input type="tel" name="fiz-with-phone" id="fiz-with-phone" placeholder="Введите телефон" formControlName="phone">
          </div>
          <div class="grey-box item-2">
            <label for="fiz-with-login">Логин</label>
            <input type="text" name="fiz-with-login" id="fiz-with-login" placeholder="Введите логин" formControlName="login">
            <label for="fiz-with-password">Пароль</label>
            <input type="password" name="fiz-with-password" id="fiz-with-password" placeholder="Введите пароль" formControlName="password">
            <label for="fiz-with-password-repeat">Пароль (подтвердить)</label>
            <input type="password" name="fiz-with-password-repeat" id="fiz-with-password-repeat" placeholder="Повторите пароль" formControlName="passwordRepeat">
          </div>
        </div>
        <!--        Register row-->
        <div class="row-submit">
          <input type="submit" value="Регистрация">
        </div>
      </form>
    </div>

    <div class="register-content-forms-without-agreement"
         [ngClass]="{'agreement-show': agreement, 'agreement-hide': !agreement}">
      <!--      Entity without agreement-->
      <form [formGroup]="entityUserWithoutAgreementForm" (ngSubmit)="doRegistration()"
            [ngClass]="{'person-without-agreement-show': !personWithoutAgreement, 'person-without-agreement-hide': personWithoutAgreement}">
        <div class="main-row">
          <div class="grey-box col-1">
<!--            controls-->
            <div class="row-controls">
              <button class="without-agreement-control-btn active-btn" disabled>Юр. лицо</button>
              <button class="without-agreement-control-btn white-btn" (click)="toggleWithoutAgreement()">Физ лицо</button>
            </div>
<!--            fields-->
            <label for="ur-without-agreement-client-name" class="mt-50" style="display: block">Наименование клиента*</label>
            <input type="text" name="ur-without-agreement-client-name" id="ur-without-agreement-client-name" placeholder="Введите наименование клиента" formControlName="clientName">
            <label for="ur-without-agreement-ur-address">Юридический адрес*</label>
            <input type="text" name="ur-without-agreement-ur-address" id="ur-without-agreement-ur-address" placeholder="Введите юридический адрес" formControlName="legalAddress">
            <label for="ur-without-agreement-post-address">Почтовый адрес*</label>
            <input type="text" name="ur-without-agreement-post-address" id="ur-without-agreement-post-address" placeholder="Введите почтовый адрес" formControlName="postAddress">
            <label for="ur-without-agreement-unp">УНП*</label>
            <input type="text" name="ur-without-agreement-unp" id="ur-without-agreement-unp" placeholder="Введите УНП" formControlName="unp">
          </div>
          <div class="grey-box col-2">
            <label for="ur-without-agreement-okpo">ОКПО*</label>
            <input type="text" name="ur-without-agreement-okpo" id="ur-without-agreement-okpo" placeholder="Введите ОКПО" formControlName="okpo">
            <label for="ur-without-agreement-fio-of-person">ФИО уполномоченного лица*</label>
            <input type="text" name="ur-without-agreement-fio-of-person" id="ur-without-agreement-fio-of-person" placeholder="Введите ФИО уполномоченного лица" formControlName="authorizedPerson">
            <label for="ur-without-agreement-statement">Основание для подписания договора*</label>
            <input type="text" name="ur-without-agreement-statement" id="ur-without-agreement-statement" placeholder="Введите основание для подписания договора" formControlName="groundsForSigning">
            <label for="ur-without-agreement-tel-fax">Телефон/факс*</label>
            <input type="text" name="ur-without-agreement-tel-fax" id="ur-without-agreement-tel-fax" placeholder="Введите телефон/факс" formControlName="phone">
            <label for="ur-without-agreement-email">Email*</label>
            <input type="text" name="ur-without-agreement-email" id="ur-without-agreement-email" placeholder="Введите email" formControlName="email">
          </div>
          <div class="grey-box col-3">
            <p class="mark">Банковские рейквизиты</p>
            <label for="ur-without-agreement-bank-name">Наименование банка*</label>
            <input type="text" name="ur-without-agreement-bank-name" id="ur-without-agreement-bank-name" placeholder="Введите наименование банка" formControlName="bankName">
            <label for="ur-without-agreement-bank-address">Адрес банка*</label>
            <input type="text" name="ur-without-agreement-bank-address" id="ur-without-agreement-bank-address" placeholder="Введите адрес банка" formControlName="bankAddress">
            <label for="ur-without-agreement-bank-code">Код банка*</label>
            <input type="text" name="ur-without-agreement-bank-code" id="ur-without-agreement-bank-code" placeholder="Введите код банка" formControlName="bankCode">
            <label for="ur-without-agreement-bank-account">Расчетный счет*</label>
            <input type="text" name="ur-without-agreement-bank-account" id="ur-without-agreement-bank-account" placeholder="Введите расчетный счет" formControlName="account">
            <div class="add-file-box mt-40">
              <div class="add-file-box-item">
                <input type="file">
                <span class="small-bold-text">Прикрепить файл</span>
                <button class="active-btn add-btn ml-15"></button>
              </div>
              <div class="add-file-box-item">
                <span class="small-bold-text">Прикрепите, пожалуйста,<br> Свидетельство о регистрации</span>
              </div>
            </div>
          </div>
          <div class="grey-box col-4">
            <p class="mark">прочая информация</p>
            <label for="ur-without-agreement-delivery-frequency">Частота доставки груза*</label>
            <input type="text" name="ur-without-agreement-delivery-frequency" id="ur-without-agreement-delivery-frequency" placeholder="Введите частоту доставки груза" formControlName="deliveryFrequency">
            <label for="ur-without-agreement-cargo-description">Описание грузов</label>
            <input type="text" name="ur-without-agreement-cargo-description" id="ur-without-agreement-cargo-description" placeholder="Введите описание грузов" formControlName="cargoDescription">
            <label for="ur-without-agreement-support-email-name">ФИО лица по взаиморасчетам</label>
            <input type="text" name="ur-without-agreement-support-email-name" id="ur-without-agreement-support-email-name" placeholder="Введите ФИО лица по взаиморасчетам" formControlName="settlementPerson">
            <label for="ur-without-agreement-support-person-email">Email лица по взаиморасчетам</label>
            <input type="text" name="ur-without-agreement-support-person-email" id="ur-without-agreement-support-person-email" placeholder="Введите email лица по взаиморасчетам" formControlName="settlementPersonEmail">
          </div>
        </div>
        <div class="submit-row">
          <input type="submit" value="Регистрация">
        </div>
      </form>

      <!--      Individual without agreement-->
      <form [formGroup]="individualUserWithoutAgreementForm" (ngSubmit)="doRegistration()"
            [ngClass]="{'person-without-agreement-show': personWithoutAgreement, 'person-without-agreement-hide': !personWithoutAgreement}">
        <div class="main-row">
          <div class="grey-box col-1">
            <div class="row-controls">
              <button class="without-agreement-control-btn white-btn" (click)="toggleWithoutAgreement()">Юр. лицо</button>
              <button class="without-agreement-control-btn active-btn" disabled>Физ лицо</button>
            </div>
            <label for="fiz-without-agreement-fio" class="mt-50" style="display: block">ФИО*</label>
            <input type="text" name="fiz-without-agreement-fio" id="fiz-without-agreement-fio" placeholder="Введите ФИО" formControlName="userName">
            <label for="fiz-without-agreement-doc-type">Вид удостоверения*</label>
            <input type="text" name="fiz-without-agreement-doc-type" id="fiz-without-agreement-doc-type" placeholder="Введите вид документа" formControlName="documentType">
            <div class="fiz-row">
              <div class="fiz-row-item-1">
                <label for="fiz-without-agreement-doc-seria">Серия*</label>
                <input type="text" name="fiz-without-agreement-doc-seria" id="fiz-without-agreement-doc-seria" placeholder="Введите серию документа" formControlName="passportSeries">
              </div>
              <div class="fiz-row-item-2">
                <label for="fiz-without-agreement-doc-number">Номер документа*</label>
                <input type="text" name="fiz-without-agreement-doc-number" id="fiz-without-agreement-doc-number" placeholder="Введите номер документа" formControlName="passportNumber">
              </div>
            </div>
            <label for="fiz-without-agreement-doc-place">Кем выдано удостоверение*</label>
            <input type="text" name="fiz-without-agreement-doc-place" id="fiz-without-agreement-doc-place" placeholder="Введите место выдачи документа" formControlName="issueAddress">
          </div>
          <div class="grey-box col-2">
            <label for="fiz-without-agreement-doc-date">Дата выдачи*</label>
            <input type="text" name="fiz-without-agreement-doc-date" id="fiz-without-agreement-doc-date" placeholder="Введите дату выдачи" formControlName="issueDate">
            <label for="fiz-without-agreement-doc-main-number">Личный номер*</label>
            <input type="text" name="fiz-without-agreement-doc-main-number" id="fiz-without-agreement-doc-main-number" placeholder="Введите личный номер" formControlName="personalNumber">
            <label for="fiz-without-agreement-home-address">Адрес прописки*</label>
            <input type="text" name="fiz-without-agreement-home-address" id="fiz-without-agreement-home-address" placeholder="Введите адрес прописки" formControlName="homeAddress">
            <label for="fiz-without-agreement-tel">Телефон/факс*</label>
            <input type="tel" name="fiz-without-agreement-tel" id="fiz-without-agreement-tel" placeholder="Введите телефон/факс" formControlName="phone">
            <label for="fiz-without-agreement-email">Email*</label>
            <input type="email" name="fiz-without-agreement-email" id="fiz-without-agreement-email" placeholder="Введите Email" formControlName="email">
          </div>
          <div class="grey-box col-3">
            <p class="mark">прочая информация</p>
            <label for="fiz-without-agreement-delivery-frequency">Частота доставки груза*</label>
            <input type="text" name="fiz-without-agreement-delivery-frequency" id="fiz-without-agreement-delivery-frequency" placeholder="Введите частоту доставки грузов" formControlName="deliveryFrequency">
            <label for="fiz-without-agreement-cargo-description">Описание грузов</label>
            <input type="text" name="fiz-without-agreement-cargo-description" id="fiz-without-agreement-cargo-description" placeholder="Введите описание грузов" formControlName="cargoDescription">
          </div>
          <div class="grey-box col-4">
            <div class="add-file-box">
              <div class="add-file-box-item">
                <input type="file">
                <span class="small-bold-text">Прикрепить файл</span>
                <button class="active-btn add-btn ml-15"></button>
              </div>
              <div class="add-file-box-item">
                <span class="small-bold-text">Прикрепите, пожалуйста, страницы паспорта <br> ( прописка,  последняя и предпоследняя <br> страница в развороте )</span>
              </div>
            </div>
          </div>
        </div>
        <div class="submit-row">
          <input type="submit" value="Регистрация">
        </div>
      </form>
    </div>
  </div>
  <div id="user-updated" class="modal user-updated">
    <p class="white-header">Регистрация прошла успешно. Для входа используйте введенный логин и пароль.</p>
  </div>

  <div id="user-forbidden" class="modal user-updated">
    <p class="white-header">Пользователь с такими данными существует</p>
  </div>

  <div id="user-wait-agreement" class="modal user-updated">
    <p class="white-header">По данному УНП не обнаружено действующего договора. Для заключения договора свяжитесь с нашим отделом продаж по телефонам:<br> +375 (29/33) 671-90-90</p>
    <button class="btn-green btn-round" class="mt-15" (click)="hideModal('user-wait-agreement')">Принято</button>
  </div>
</div>
