<div class="book-content">
  <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
  <div *ngIf="loading" class="preloader-bg" style="position: absolute; z-index: 998; top: 0; left: 0; background-color: #A070B5; width: 100%; height: 100%"></div>
  <div class="box-1">
    <div class="grey-box">
      <h2 class="grey-header m-0">КОНТРАГЕНТЫ</h2>
      <button class="white-btn mt-10" (click)="showModal('new-contragent')">Новый контрагент</button>
    </div>
  </div>
  <div class="box-2">
    <div class="grey-box">
      <h2 class="grey-header m-0">АДРЕСА</h2>
      <button class="white-btn mt-10" [disabled]="customerId === 0" (click)="showModal('new-address')">Новый адрес</button>
    </div>
  </div>
  <div class="box-3">
    <div class="grey-box">
      <h2 class="grey-header m-0">КОНТАКТЫ</h2>
      <button class="white-btn mt-10" [disabled]="customerAddressId === -1" (click)="showModal('new-contact')">Новый контакт</button>
    </div>
  </div>
  <div class="box-4">
    <form action="" class="relative">
      <input class="m-0" type="search" placeholder="Поиск" (keyup)="filter($event)">
      <input type="submit" class="btn-search" value="Поиск">
    </form>
  </div>
  <div class="box-5">
    <app-contragents
    (onSelectCustomerId)="getCustomerId($event)"
    [requestText]="request"
    (onCustomerEdit)="showCustomer($event)"
    ></app-contragents>
  </div>
  <div class="box-6">
    <app-address
      [customerId]="customerId"
      (onSelectAddressId)="getCustomerAddressId($event)"
      (onCustomerAddressEdit)="showCustomerAddress($event)"
    ></app-address>
  </div>
  <div class="box-7">
    <app-contacts
    [customerAddressId]="customerAddressId"
    (onCustomerContactEdit)="showCustomerContact($event)"
    ></app-contacts>
  </div>
</div>

<div id="new-contragent" class="modal new-contragent">
  <div class="new-contragent-content">
    <button class="active-btn circle-btn close-btn" (click)="hideModal('new-contragent', newContragent)"></button>
    <h2 class="white-header">Новый контрагент</h2>
    <form [formGroup]="newContragent" (ngSubmit)="createNewContragent()">
      <div class="grey-box">
        <label for="type"> Форма собственности :</label>
        <input class="contragent" type="text" id="type" name="type" formControlName="type">
        <label for="contragent">Наименование контрагента:</label>
        <input class="contragent" type="text" id="contragent" name="contragent" formControlName="name">
      </div>
      <div class="btns-row">
        <a class="white-btn round-btn" (click)="hideModal('new-contragent', newContragent)">Отмена</a>
        <input type="submit" value="Сохранить">
      </div>
    </form>
  </div>
</div>

<div id="edit-contragent" class="modal new-contragent">
  <div class="new-contragent-content">
    <button class="active-btn circle-btn close-btn" (click)="hideModal('edit-contragent', newContragent)"></button>
    <h2 class="white-header">Изменить данные контрагента</h2>
    <form [formGroup]="newContragent" (ngSubmit)="editCustomer()">
      <div class="grey-box">
        <label for="type-edit"> Форма собственности :</label>
        <input class="contragent" type="text" id="type-edit" name="type-edit" formControlName="type">
        <label for="contragent-edit">Наименование контрагента:</label>
        <input class="contragent" type="text" id="contragent-edit" name="contragent-edit" formControlName="name">
      </div>
      <div class="btns-row">
        <a class="white-btn round-btn" (click)="hideModal('edit-contragent', newContragent)">Отмена</a>
        <input type="submit" value="Сохранить">
      </div>
    </form>
  </div>
</div>

<div id="new-contact" class="modal new-contact">
  <div class="new-contact-content">
    <button class="active-btn circle-btn close-btn" (click)="hideModal('new-contact', newContact)"></button>
    <h2 class="white-header">Новый контакт</h2>
    <form [formGroup]="newContact" (ngSubmit)="createNewContact()">
      <div class="grey-box">
<!--        <div class="row mb-20">-->
<!--          <div class="checkbox-block" style="margin-right: 15px;">-->
<!--            <input class="checkbox-block-item" type="checkbox" name="type" id="type" formControlName="type" checked>-->
<!--            <span class="checkbox-block-icon"></span>-->
<!--          </div>-->
<!--          <label for="type">Основной адрес</label>-->
<!--        </div>-->
        <label for="contact-name">Имя контакта:</label>
        <input class="contact" type="text" name="contact-name" id="contact-name" formControlName="name">
        <p style="color: red" *ngIf="contactsFieldIsEmpty && !newContact.value.name">Данное поле должно быть заполнено</p>
        <label for="contact-position">Должность:</label>
        <input type="text" name="contact-position" id="contact-position" formControlName="position">
        <label for="contact-phone-1">Телефон:</label>
        <input class="contact" type="text" name="contact-phone-1" id="contact-phone-1" formControlName="tel1" mask="(00) 000 00 00" prefix="+375" [showMaskTyped]="true" [validation]="true">
        <p style="color: red" *ngIf="contactsFieldIsEmpty && !newContact.value.tel1">Данное поле должно быть заполнено</p>
        <p style="color: red" *ngIf="contactsPhoneCode1">Допустимые коды телефона: "25", "29", "33", "44"</p>
        <label for="contact-phone-2"> Телефон 2:</label>
        <input class="contact" type="text" name="contact-phone-2" id="contact-phone-2" formControlName="tel2" mask="(00) 000 00 00" prefix="+375" [showMaskTyped]="true">
        <p style="color: red" *ngIf="contactsFieldIsEmpty && !newContact.value.tel2">Данное поле должно быть заполнено</p>
        <p style="color: red" *ngIf="contactsPhoneCode2">Допустимые коды телефона: "25", "29", "33", "44"</p>
        <label for="contact-email">Email:</label>
        <input type="text" name="contact-email" id="contact-email" formControlName="email">
      </div>
      <div class="row-controls">
        <a class="white-btn round-btn" (click)="hideModal('new-contact', newContact)">Отмена</a>
        <input type="submit" value="Сохранить">
      </div>
    </form>
  </div>
</div>

<div id="edit-contact" class="modal new-contact">
  <div class="new-contact-content">
    <button class="active-btn circle-btn close-btn" (click)="hideModal('edit-contact', newContact)"></button>
    <h2 class="white-header">Изменить контакт</h2>
    <form [formGroup]="newContact">
      <div class="grey-box">
<!--        <div class="row mb-20">-->
<!--          <div class="checkbox-block" style="margin-right: 15px;">-->
<!--            <input class="checkbox-block-item" type="checkbox" name="type" id="type" formControlName="type" checked>-->
<!--            <span class="checkbox-block-icon"></span>-->
<!--          </div>-->
<!--          <label for="type">Основной адрес</label>-->
<!--        </div>-->
        <label for="contact-name">Имя контакта:</label>
        <input class="contact" type="text" name="contact-name" id="contact-name" formControlName="name">
        <p style="color: red" *ngIf="contactsFieldIsEmpty && !newContact.value.name">Данное поле должно быть заполнено</p>
        <label for="contact-position">Должность:</label>
        <input type="text" name="contact-position" id="contact-position" formControlName="position">
        <label for="contact-phone-1">Телефон:</label>
        <input class="contact" type="text" name="contact-phone-1" id="contact-phone-1-edit" formControlName="tel1" mask="(00) 000 00 00" prefix="+375" [showMaskTyped]="true">
        <p style="color: red" *ngIf="contactsFieldIsEmpty && !newContact.value.tel1">Данное поле должно быть заполнено</p>
        <p style="color: red" *ngIf="contactsPhoneCode1">Допустимые коды телефона: "25", "29", "33", "44"</p>
        <label for="contact-phone-2"> Телефон 2:</label>
        <input class="contact" type="text" name="contact-phone-2" id="contact-phone-2-edit" formControlName="tel2" mask="(00) 000 00 00" prefix="+375" [showMaskTyped]="true">
        <p style="color: red" *ngIf="contactsFieldIsEmpty && !newContact.value.tel2">Данное поле должно быть заполнено</p>
        <p style="color: red" *ngIf="contactsPhoneCode2">Допустимые коды телефона: "25", "29", "33", "44"</p>
        <label for="contact-email">Email:</label>
        <input type="text" name="contact-email" id="contact-email" formControlName="email">
      </div>
      <div class="row-controls">
        <a class="white-btn round-btn" (click)="hideModal('edit-contact', newContact)">Отмена</a>
        <input type="submit" value="Сохранить" (click)="editContact()">
      </div>
    </form>
  </div>
</div>

<div id="new-address" class="modal new-address">
  <div class="new-address-content">
    <button class="active-btn circle-btn close-btn" (click)="hideModal('new-address', newAddress)"></button>
    <h2 class="white-header">Новый адрес</h2>
    <form [formGroup]="newAddress">
      <div class="grey-box">
<!--        <div class="row mb-20">-->
<!--          <div class="checkbox-block" style="margin-right: 15px;">-->
<!--            <input class="checkbox-block-item" type="checkbox" name="type2" id="type2" formControlName="type" checked>-->
<!--            <span class="checkbox-block-icon"></span>-->
<!--          </div>-->
<!--          <label for="type2">Основной адрес</label>-->
<!--        </div>-->
        <label for="place-carrier-sender">Населенный пункт:</label>
        <mat-form-field class="address" class="example-full-width" appearance="fill">
          <input id="new-city" type="text"
                 placeholder="Введите город"
                 aria-label="Number"
                 matInput
                 formControlName="place"
                 [matAutocomplete]="auto"
                 (input)="onKey($event)" (keydown)="$event.stopPropagation()"
          >
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectPlace($event, newAddress)" [displayWith]="cityShow">
            <cdk-virtual-scroll-viewport [itemSize]="42" class="example-viewport">
              <mat-option *cdkVirtualFor="let city of citiesList" [value]="city" class="example-item">
                {{city.fullName}}
              </mat-option>
            </cdk-virtual-scroll-viewport>
          </mat-autocomplete>
        </mat-form-field>
<!--        <mat-form-field floatLabel="never">-->
<!--          <mat-select formControlName="place" (keyup)="$event.stopPropagation()" (selectionChange)="selectPlace($event, newAddress)">-->
<!--            <input type="text" placeholder="Поиск" (input)="onKey($event)" (keydown)="$event.stopPropagation()">-->
<!--            <cdk-virtual-scroll-viewport [itemSize]="42" class="example-viewport">-->
<!--              <mat-option *cdkVirtualFor="let city of citiesList" [value]="city.id" class="example-item">-->
<!--                {{city.fullName}}-->
<!--              </mat-option>-->
<!--            </cdk-virtual-scroll-viewport>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
        <label for="street-carrier-sender">Улица:</label>
        <mat-form-field class="address" class="example-full-width" appearance="fill">
          <input id="new-street" type="text"
                 placeholder="Введите улицу"
                 aria-label="Number"
                 matInput
                 formControlName="street"
                 [matAutocomplete]="auto2"
                 (input)="onKey2($event)" (keydown)="$event.stopPropagation()"
          >
          <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" [displayWith]="streetShow">
            <cdk-virtual-scroll-viewport [itemSize]="42" class="example-viewport">
              <mat-option *cdkVirtualFor="let street of streetList" [value]="street" class="example-item">
                {{street.name}}
              </mat-option>
            </cdk-virtual-scroll-viewport>
          </mat-autocomplete>
        </mat-form-field>
<!--        <mat-form-field floatLabel="never">-->
<!--          <mat-select formControlName="street" (keyup)="$event.stopPropagation()">-->
<!--            <input type="text" placeholder="Поиск" (input)="onKey2($event)" (keydown)="$event.stopPropagation()">-->
<!--            <cdk-virtual-scroll-viewport [itemSize]="42" class="example-viewport">-->
<!--              <mat-option *cdkVirtualFor="let street of streetList" [value]="street.id" class="example-item">-->
<!--                {{street.name}}-->
<!--              </mat-option>-->
<!--            </cdk-virtual-scroll-viewport>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
        <div class="row-multi mt-15">
          <div class="box">
            <label for="building">Дом:</label>
            <input class="address" type="text" name="building" id="building" formControlName="building">
          </div>
          <div class="box">
            <label for="corpus">Корпус:</label>
            <input class="address" type="text" name="corpus" id="corpus" formControlName="corpus">
          </div>
          <div class="box">
            <label for="house">Строение</label>
            <input class="address" type="text" id="house" name="house" formControlName="house">
          </div>
          <div class="box">
            <label for="office">Офис:</label>
            <input class="address" type="text" name="office" id="office" formControlName="office">
          </div>
          <div class="box">
            <label for="appartment">Квартира</label>
            <input class="address" type="text" name="appartment" id="appartment" formControlName="apartment">
          </div>
        </div>
<!--        <div class="row-some mt-15">-->
<!--          <div class="box">-->
<!--            <label for="delivery-from">Время доставки с:</label>-->
<!--            <input type="text" name="delivery-from" id="delivery-from" formControlName="deliveryFrom">-->
<!--          </div>-->
<!--          <div class="box">-->
<!--            <label for="delivery-from">по:</label>-->
<!--            <input type="text" formControlName="deliveryTo">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row-some mt-15">-->
<!--          <div class="box">-->
<!--            <label for=timeout-from>Время перерыва c:</label>-->
<!--            <input type="text" name="timeout-from" id="timeout-from" formControlName="timeoutFrom">-->
<!--          </div>-->
<!--          <div class="box">-->
<!--            <label for="timeout-to">по:</label>-->
<!--            <input type="text" name="timeout-to" id="timeout-to" formControlName="timeoutTo">-->
<!--          </div>-->
<!--        </div>-->
<!--        <label for="description-area">Примечание</label>-->
<!--        <textarea name="description-area" id="description-area" formControlName="description"></textarea>-->
      </div>
      <div class="row-controls">
        <a class="white-btn round-btn" (click)="hideModal('new-address', newAddress)">Отмена</a>
        <input type="submit" value="Сохранить" (click)="createNewAddress('new-city', 'new-street')">
      </div>
    </form>
  </div>
</div>

<div id="edit-address" class="modal new-address">
  <div class="new-address-content">
    <button class="active-btn circle-btn close-btn" (click)="hideModal('edit-address', newAddress)"></button>
    <h2 class="white-header">Редактировать адрес</h2>
    <form [formGroup]="newAddress">
      <div class="grey-box">
<!--        <div class="row mb-20">-->
<!--          <div class="checkbox-block" style="margin-right: 15px;">-->
<!--            <input class="checkbox-block-item" type="checkbox" name="type2" id="type2" formControlName="type" checked>-->
<!--            <span class="checkbox-block-icon"></span>-->
<!--          </div>-->
<!--          <label for="type2">Основной адрес</label>-->
<!--        </div>-->
        <label for="place-carrier-sender">Населенный пункт:</label>
        <mat-form-field class="example-full-width" appearance="fill">
          <input id="edit-city" type="text"
                 placeholder="Введите город"
                 aria-label="Number"
                 matInput
                 formControlName="place"
                 [matAutocomplete]="auto"
                 (input)="onKey($event)" (keydown)="$event.stopPropagation()"
          >
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectPlace($event, newAddress)" [displayWith]="cityShow">
            <cdk-virtual-scroll-viewport [itemSize]="42" class="example-viewport">
              <mat-option *cdkVirtualFor="let city of citiesList" [value]="city" class="example-item">
                {{city.fullName}}
              </mat-option>
            </cdk-virtual-scroll-viewport>
          </mat-autocomplete>
        </mat-form-field>
        <!--        <mat-form-field floatLabel="never">-->
        <!--          <mat-select formControlName="place" (keyup)="$event.stopPropagation()" (selectionChange)="selectPlace($event, newAddress)">-->
        <!--            <input type="text" placeholder="Поиск" (input)="onKey($event)" (keydown)="$event.stopPropagation()">-->
        <!--            <cdk-virtual-scroll-viewport [itemSize]="42" class="example-viewport">-->
        <!--              <mat-option *cdkVirtualFor="let city of citiesList" [value]="city.id" class="example-item">-->
        <!--                {{city.fullName}}-->
        <!--              </mat-option>-->
        <!--            </cdk-virtual-scroll-viewport>-->
        <!--          </mat-select>-->
        <!--        </mat-form-field>-->
        <label for="street-carrier-sender">Улица:</label>
        <mat-form-field class="example-full-width" appearance="fill">
          <input id="edit-street" type="text"
                 placeholder="Введите улицу"
                 aria-label="Number"
                 matInput
                 formControlName="street"
                 [matAutocomplete]="auto2"
                 (input)="onKey2($event)" (keydown)="$event.stopPropagation()"
          >
          <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" [displayWith]="streetShow">
            <cdk-virtual-scroll-viewport [itemSize]="42" class="example-viewport">
              <mat-option *cdkVirtualFor="let street of streetList" [value]="street" class="example-item">
                {{street.name}}
              </mat-option>
            </cdk-virtual-scroll-viewport>
          </mat-autocomplete>
        </mat-form-field>
        <!--        <mat-form-field floatLabel="never">-->
        <!--          <mat-select formControlName="street" (keyup)="$event.stopPropagation()">-->
        <!--            <input type="text" placeholder="Поиск" (input)="onKey2($event)" (keydown)="$event.stopPropagation()">-->
        <!--            <cdk-virtual-scroll-viewport [itemSize]="42" class="example-viewport">-->
        <!--              <mat-option *cdkVirtualFor="let street of streetList" [value]="street.id" class="example-item">-->
        <!--                {{street.name}}-->
        <!--              </mat-option>-->
        <!--            </cdk-virtual-scroll-viewport>-->
        <!--          </mat-select>-->
        <!--        </mat-form-field>-->
        <div class="row-multi mt-15">
          <div class="box">
            <label for="building">Дом:</label>
            <input type="text" name="building" id="building" formControlName="building">
          </div>
          <div class="box">
            <label for="corpus">Корпус:</label>
            <input type="text" name="corpus" id="corpus" formControlName="corpus">
          </div>
          <div class="box">
            <label for="house">Строение</label>
            <input type="text" id="house" name="house" formControlName="house">
          </div>
          <div class="box">
            <label for="office">Офис:</label>
            <input type="text" name="office" id="office" formControlName="office">
          </div>
          <div class="box">
            <label for="appartment">Квартира</label>
            <input type="text" name="appartment" id="appartment" formControlName="apartment">
          </div>
        </div>
        <!--        <div class="row-some mt-15">-->
        <!--          <div class="box">-->
        <!--            <label for="delivery-from">Время доставки с:</label>-->
        <!--            <input type="text" name="delivery-from" id="delivery-from" formControlName="deliveryFrom">-->
        <!--          </div>-->
        <!--          <div class="box">-->
        <!--            <label for="delivery-from">по:</label>-->
        <!--            <input type="text" formControlName="deliveryTo">-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div class="row-some mt-15">-->
        <!--          <div class="box">-->
        <!--            <label for=timeout-from>Время перерыва c:</label>-->
        <!--            <input type="text" name="timeout-from" id="timeout-from" formControlName="timeoutFrom">-->
        <!--          </div>-->
        <!--          <div class="box">-->
        <!--            <label for="timeout-to">по:</label>-->
        <!--            <input type="text" name="timeout-to" id="timeout-to" formControlName="timeoutTo">-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <label for="description-area">Примечание</label>-->
        <!--        <textarea name="description-area" id="description-area" formControlName="description"></textarea>-->
      </div>
      <div class="row-controls">
        <a class="white-btn round-btn" (click)="hideModal('edit-address', newAddress)">Отмена</a>
        <input type="submit" value="Сохранить" (click)="editNewAddress('edit-city', 'edit-street')">
      </div>
    </form>
  </div>
</div>
