

<div class="cell">
  <button (click)="btnClickedHandler($event)" btntype="status">Разблокирован</button>
  <div class="modal">
    <div class="blocked">
      <span>Заблокировать</span>
      <div class="checkbox-block" style="margin-right: 15px;">
        <input class="checkbox-block-item" type="radio" name="status" id="status1">
        <span class="checkbox-block-icon"></span>
      </div>
    </div>
    <div class="unblocked">
      <span>Разблокировать</span>
      <div class="checkbox-block" style="margin-right: 15px;">
        <input class="checkbox-block-item" type="radio" name="status" id="status2" checked>
        <span class="checkbox-block-icon"></span>
      </div>
    </div>
  </div>
</div>
