button {
  width: 100%;
  background-color: #5FDF10;
  color: white;
  transition: all .3s;
  padding: 12px 30px 12px 12px;
  text-align: left;
  background-image: url("../../../../assets/img/common/plus.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 50%;

  &:hover {
    background-color: #59d00f;
  }
}

.cell {
  position: relative;
  width: 100%;
  height: 100%;

  .modal {
    width: 230px;
    background-color: #9863AE;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 110%;
    z-index: 999;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    grid-gap: 7px;

    & .blocked, & .unblocked {
      background-color: #DF1010;
      border-radius: 5px;
      padding: 12px 20px 12px 20px;
      display: flex;
      justify-content: space-between;

      & span {
        line-height: 1;
        font-size: 14px;
        color: white;
        font-family: "Montserrat-Medium", sans-serif;
      }
    }

    & .unblocked {
      background-color: #5FDF10;
    }
  }
}
