<div class="home-content">
  <div class="box-1">
    <div class="row-header">
      <h2 class="header">Договор</h2>
      <h2 class="header">Вид сделки</h2>
      <h2 class="header">Статус блокировки</h2>
      <h2 class="header">Скидка, %</h2>
    </div>
    <div class="row-main">
      <div class="row-main-item">
        <div class="item-1">
          <p class="description-small">№ 1236552 от 15.03.2021  </p>
        </div>
        <div class="item-2">
          <p class="description-small">Экспресс - доставка документов </p>
        </div>
        <div class="item-3">
          <span class="status status-disabled">Заблокирован</span>
        </div>
        <div class="item-4">
          <p class="description-small">5%</p>
        </div>
      </div>
      <div class="row-main-item">
        <div class="item-1">
          <p class="description-small">№ 1236552 от 15.03.2021  </p>
        </div>
        <div class="item-2">
          <p class="description-small">Экспресс - доставка документов </p>
        </div>
        <div class="item-3">
          <span class="status status-enabled">Отсутствует</span>
        </div>
        <div class="item-4">
          <p class="description-small">5%</p>
        </div>
      </div>
      <div class="row-main-item">
        <div class="item-1">
          <p class="description-small">№ 1236552 от 15.03.2021  </p>
        </div>
        <div class="item-2">
          <p class="description-small">Экспресс - доставка документов </p>
        </div>
        <div class="item-3">
          <span class="status status-disabled">Заблокирован</span>
        </div>
        <div class="item-4">
          <p class="description-small">5%</p>
        </div>
      </div>
      <div class="row-main-item">
        <div class="item-1">
          <p class="description-small">№ 1236552 от 15.03.2021  </p>
        </div>
        <div class="item-2">
          <p class="description-small">Экспресс - доставка документов </p>
        </div>
        <div class="item-3">
          <span class="status status-disabled">Заблокирован</span>
        </div>
        <div class="item-4">
          <p class="description-small">5%</p>
        </div>
      </div>
      <div class="row-main-item">
        <div class="item-1">
          <p class="description-small">№ 1236552 от 15.03.2021  </p>
        </div>
        <div class="item-2">
          <p class="description-small">Экспресс - доставка документов </p>
        </div>
        <div class="item-3">
          <span class="status status-disabled">Заблокирован</span>
        </div>
        <div class="item-4">
          <p class="description-small">5%</p>
        </div>
      </div>
      <div class="row-main-item">
        <div class="item-1">
          <p class="description-small">№ 1236552 от 15.03.2021  </p>
        </div>
        <div class="item-2">
          <p class="description-small">Экспресс - доставка документов </p>
        </div>
        <div class="item-3">
          <span class="status status-disabled">Заблокирован</span>
        </div>
        <div class="item-4">
          <p class="description-small">5%</p>
        </div>
      </div>
      <div class="row-main-item">
        <div class="item-1">
          <p class="description-small">№ 1236552 от 15.03.2021  </p>
        </div>
        <div class="item-2">
          <p class="description-small">Экспресс - доставка документов </p>
        </div>
        <div class="item-3">
          <span class="status status-disabled">Заблокирован</span>
        </div>
        <div class="item-4">
          <p class="description-small">5%</p>
        </div>
      </div>
      <div class="row-main-item">
        <div class="item-1">
          <p class="description-small">№ 1236552 от 15.03.2021  </p>
        </div>
        <div class="item-2">
          <p class="description-small">Экспресс - доставка документов </p>
        </div>
        <div class="item-3">
          <span class="status status-disabled">Заблокирован</span>
        </div>
        <div class="item-4">
          <p class="description-small">5%</p>
        </div>
      </div>
      <div class="row-main-item">
        <div class="item-1">
          <p class="description-small">№ 1236552 от 15.03.2021  </p>
        </div>
        <div class="item-2">
          <p class="description-small">Экспресс - доставка документов </p>
        </div>
        <div class="item-3">
          <span class="status status-disabled">Заблокирован</span>
        </div>
        <div class="item-4">
          <p class="description-small">5%</p>
        </div>
      </div>
      <div class="row-main-item">
        <div class="item-1">
          <p class="description-small">№ 1236552 от 15.03.2021  </p>
        </div>
        <div class="item-2">
          <p class="description-small">Экспресс - доставка документов </p>
        </div>
        <div class="item-3">
          <span class="status status-disabled">Заблокирован</span>
        </div>
        <div class="item-4">
          <p class="description-small">5%</p>
        </div>
      </div>
      <div class="row-main-item">
        <div class="item-1">
          <p class="description-small">№ 1236552 от 15.03.2021  </p>
        </div>
        <div class="item-2">
          <p class="description-small">Экспресс - доставка документов </p>
        </div>
        <div class="item-3">
          <span class="status status-disabled">Заблокирован</span>
        </div>
        <div class="item-4">
          <p class="description-small">5%</p>
        </div>
      </div>
      <div class="row-main-item">
        <div class="item-1">
          <p class="description-small">№ 1236552 от 15.03.2021  </p>
        </div>
        <div class="item-2">
          <p class="description-small">Экспресс - доставка документов </p>
        </div>
        <div class="item-3">
          <span class="status status-disabled">Заблокирован</span>
        </div>
        <div class="item-4">
          <p class="description-small">5%</p>
        </div>
      </div>
      <div class="row-main-item">
        <div class="item-1">
          <p class="description-small">№ 1236552 от 15.03.2021  </p>
        </div>
        <div class="item-2">
          <p class="description-small">Экспресс - доставка документов </p>
        </div>
        <div class="item-3">
          <span class="status status-disabled">Заблокирован</span>
        </div>
        <div class="item-4">
          <p class="description-small">5%</p>
        </div>
      </div>
      <div class="row-main-item">
        <div class="item-1">
          <p class="description-small">№ 1236552 от 15.03.2021  </p>
        </div>
        <div class="item-2">
          <p class="description-small">Экспресс - доставка документов </p>
        </div>
        <div class="item-3">
          <span class="status status-disabled">Заблокирован</span>
        </div>
        <div class="item-4">
          <p class="description-small">5%</p>
        </div>
      </div>
      <div class="row-main-item">
        <div class="item-1">
          <p class="description-small">№ 1236552 от 15.03.2021  </p>
        </div>
        <div class="item-2">
          <p class="description-small">Экспресс - доставка документов </p>
        </div>
        <div class="item-3">
          <span class="status status-disabled">Заблокирован</span>
        </div>
        <div class="item-4">
          <p class="description-small">5%</p>
        </div>
      </div>
    </div>
  </div>
  <div class="box-2">
    <div class="white-box">
      <div class="item-1">
        <h2 class="violet-text">ЮР. ЛИЦО:</h2>
      </div>
      <div class="item-2">
        <h2 class="violet-text">Р/С:</h2>
      </div>
      <div class="item-3">
        <p class="description">
          ООО "АльС Трейдинг" (191171964) Беларусь, 220052, г.Минск, ул.Гурского, д.46, ком.административная 1/15-7
        </p>
      </div>
      <div class="item-4">
        <p class="description">
          р/с BY40UNBS30121655700050000933 в ЗАО "БСБ Банк", БИК UNBSBY2X
        </p>
      </div>
    </div>
  </div>
  <div class="box-3">
    <div class="white-box">
      <div class="row-1">
        <div class="item-1">
          <h2 class="violet-text">Бухгалтерский баланс</h2>
        </div>
        <div class="item-2">
          <h2 class="grey-text">Договор:</h2>
        </div>
        <div class="item-3">
          <h2 class="grey-text">Последнее обновление:</h2>
        </div>
      </div>
      <div class="row-2">
        <h2 class="price">100 BYN</h2>
        <h2 class="service">Услуги доставки</h2>
        <h2 class="agreement">№ 1234567</h2>
        <h2 class="date">01.01.2021   09 : 15</h2>
      </div>
    </div>
  </div>
  <div class="box-4">
    <h3 class="home-header">Журнал заказов ( кратко)</h3>
    <div class="table-container">
      <ag-grid-angular
        style="width: 100%; height: 100%; overflow: visible"
        class="ag-theme-alpine"
        [suppressPaginationPanel]="true"
        [debug]="true"
        [suppressScrollOnNewData]="true"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [suppressRowClickSelection]="true"
        [rowSelection]="rowSelection"
        [pagination]="true"
        [paginationPageSize]="paginationPageSize"
        (paginationChanged)="onPaginationChanged($event, 'address')"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
    <div class="controls">
      <div class="num-of-items">
        <span>На странице</span>
        <input (input)="onUserPageGrid($event)" class="controls-current-number" type="number" value="10">
      </div>
      <div class="page-controls">
        <span (click)="onBtPrevious()" class="page-prev"></span>
        <span id="current-address" class="page-current"></span>
        <span class="page-of">из</span>
        <span id="total-address" class="page-total"></span>
        <span (click)="onBtNext()" class="page-next"></span>
      </div>
    </div>
  </div>
</div>
