<div class="instruction-content">
  <div class="row-1 grey-box">
    <button class="active-btn">Вход в  в лк</button>
    <button class="white-btn">Восстановление пароля</button>
    <button class="white-btn">Журнал заказов</button>
    <button class="white-btn">Адресная книга</button>
    <button class="white-btn">Пользователи</button>
    <button class="white-btn">Профиль</button>
    <button class="white-btn">Шаблоны заказов</button>
    <button class="white-btn">Калькулятор</button>
  </div>
  <div class="row-2 grey-box"></div>
  <div class="row-3 controls">
    <div class="page-controls">
      <span class="page-prev"></span>
      <span id="current" class="page-current">1</span>
      <span class="page-of">из</span>
      <span id="total" class="page-total">5</span>
      <span class="page-of">страниц</span>
      <span class="page-next"></span>
    </div>
  </div>
</div>
