<div class="journal-content">
  <div class="row-search">
    <input class="m-0" type="search" placeholder="Поиск">
    <button class="white-btn" (click)="showModal($event)" modal="filter">Фильтр</button>
  </div>
  <div class="row-controls">
    <div class="row-controls-group">
      <button class="white-btn">Бланк доставки</button>
      <button class="white-btn">Этикетки</button>
      <button class="white-btn">Отправить на Email</button>
      <button class="white-btn">Выбрать все</button>
      <button class="white-btn">Экспорт в эксель</button>
    </div>
    <div class="row-controls-single">
      <button class="white-btn">Отображение столбцов в таблице</button>
    </div>
  </div>
  <div class="row-table">
    <ag-grid-angular
      style="width: 100%; height: 100%; overflow: visible"
      class="ag-theme-alpine"
      [suppressPaginationPanel]="true"
      [debug]="true"
      [suppressScrollOnNewData]="true"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [suppressRowClickSelection]="true"
      [rowSelection]="rowSelection"
      [pagination]="true"
      [paginationPageSize]="paginationPageSize"
      (paginationChanged)="onPaginationChanged()"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
  </div>
  <div class="row-table-controls">
    <div class="num-of-items">
      <span>На странице: </span>
      <input class="controls-current-number" (input)="onUserPageGrid($event)" type="number" value="10">
    </div>
    <div class="page-controls">
      <span (click)="onBtPrevious()" class="page-prev"></span>
      <span id="current" class="page-current"></span>
      <span class="page-of">из</span>
      <span id="total" class="page-total"></span>
      <span class="page-of">страниц</span>
      <span (click)="onBtNext()" class="page-next"></span>
    </div>
  </div>
</div>

<div id="filter" class="filter">
  <div class="filter-journal popup">
    <div class="filter-title">
      Выберите одну из дат
    </div>
  
    <div class="filter-form">
      <div class="col grey-box flex justify-content-between">
        <div class="filter-box">
          <div class="row">
            <div class="control">
              <label for="">Дата отправления с:</label>
              <input type="date">
            </div>
            <div class="optional">
            </div>
          </div>
          
          <div class="row">
            <div class="control">
              <label for="">Дата создания заказа с:</label>
              <input type="date">
            </div>
            <div class="optional">
            </div>
          </div>
    
          <div class="row">
            <div class="control">
              <label for="">Дата выдачи заказа с:</label>
              <input type="date">
            </div>
            <div class="optional">
            </div>
          </div>
    
          <div class="row">
            <div class="control">
              <label for="">Дата доставки заказа с:</label>
              <input type="date">
            </div>
            <div class="optional">
            </div>
          </div>
        </div>
  
        <div class="filter-box">
          <div class="row">
            <div class="control">
              <label for="">Дата отправления по:</label>
              <input type="date">
            </div>
            <div class="optional">
            </div>
          </div>
          
          <div class="row">
            <div class="control">
              <label for="">Дата создания заказа по:</label>
              <input type="date">
            </div>
            <div class="optional">
            </div>
          </div>
    
          <div class="row">
            <div class="control">
              <label for="">Дата выдачи заказа по:</label>
              <input type="date">
            </div>
            <div class="optional">
            </div>
          </div>
    
          <div class="row">
            <div class="control">
              <label for="">Дата доставки заказа по:</label>
              <input type="date">
            </div>
            <div class="optional">
            </div>
          </div>
        </div>
      </div>
  
      <div class="col grey-box flex justify-content-between">
        <div class="filter-box">
          <div class="row">
            <label for="">Отправитель:</label>
            <input type="text">
          </div>
          <div class="row">
            <label for="">Откуда( населенный пункт):</label>
            <input type="text">
          </div>
          <div class="row">
            <div class="control">
              <label for="">Вид услуги</label>
              <input type="text"> <!-- Select -->
            </div>
          </div>
        </div>
  
        <div class="filter-box">
          <div class="row">
            <label for="">Получатель:</label>
            <input type="text">
          </div>
          <div class="row">
            <label for="">Куда( населенный пункт):</label>
            <input type="text">
          </div>
          <div class="row">
            <div class="control">
              <label for="">Статус услуги</label>
              <input type="text"> <!-- Select -->
            </div>
          </div>
        </div>
      </div>
  
      <div class="col col-buttons">
        <button class="white-btn round-btn">Очистить</button>
        <button class="green-btn round-btn">Применить</button>
      </div>
    </div>

    <button class="active-btn circle-btn close-btn" (click)="hideModal($event)" modal="filter"></button>
  </div>
</div>

<div id="view-request">
  <div class="view-request_align popup popup-bg">
    <div class="popup_title">Просмотр заявки</div>

    <div class="grey-box mb-30">
      <div class="flex flex-wrap">
        <div class="col-33">
          <div class="popup_subtitle">Услуга:</div>
          <div class="popup_text">Экспресс-доставка грузов</div>
        </div>
        <div class="col-33">
          <div class="popup_subtitle">Тип доставки:</div>
          <div class="popup_text">Терминал/Дверь</div>
        </div>
        <div class="col-33">
          <div class="popup_subtitle">Описание груза:</div>
          <div class="popup_text">...</div>
        </div>
      </div>
    </div>

    <div class="row-stage mb-30">
      <div class="col">
        <button class="stage-btn active-btn" (click)="changeStage($event)" stage="1">Доставка</button>
        <button class="stage-btn white-btn" (click)="changeStage($event)" stage="2">Вес, габариты</button>
        <button class="stage-btn white-btn" (click)="changeStage($event)" stage="3">Дополнительные услуги</button>
      </div>
    </div>

    <div class="row-form col-100">
      <div class="row-form-content">
        <div id="form-0" class="form form-content-1">
          <div class="flex justify-content-between">
            <div class="col-50">
              <div class="grey-box">
                <div class="popup_subtitle">Отправитель:</div>
                <div class="popup_text">ООО "НТТ Импорт"</div>

                <div class="popup_subtitle">Адрес выдачи груза:</div>
                <div class="popup_text">МИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2</div>
                
                <div class="popup_subtitle">Контакт (по адресу доставки груза):</div>
                <div class="popup_text">Артём</div>

                <div class="popup_subtitle">Дата выдачи груза:</div>
                <div class="popup_text">25.02.2021 г.</div>

                <div class="popup_subtitle">Время выдачи груза</div>
                <div class="popup_text"> с 09:00 по 18:00</div>

                <div class="popup_subtitle">Время перерыва</div>
                <div class="popup_text">00:00 по 00:00</div>

                <div class="popup_subtitle">ТТН:</div>
                <div class="popup_text">...</div>

                <div class="popup_subtitle">Примечание (по адресу выдачи груза):</div>
                <div class="popup_text">...</div>
              </div>
            </div>
            <div class="col-50">
              <div class="grey-box">
                <div class="popup_subtitle">Получатель:</div>
                <div class="popup_text">ОАО "Витебскмясомолпром"</div>

                <div class="popup_subtitle">Адрес доставки груза:</div>
                <div class="popup_text">г. Витебск, УЛ. ЛЕНИНГРАДСКАЯ, д. 134</div>
                
                <div class="popup_subtitle">Контакт (по адресу доставки груза):</div>
                <div class="popup_text">ОАО "Витебскмясомолпром"</div>

                <div class="popup_subtitle">Дата доставки груза:</div>
                <div class="popup_text">02.03.2021 г.</div>

                <div class="popup_subtitle">Время доставки груза :</div>
                <div class="popup_text"> с 09:00 по 17:00</div>

                <div class="popup_subtitle">Время перерыва </div>
                <div class="popup_text">с 17:00 по 17.30</div>

                <div class="popup_subtitle">Примечание (по адресу доставки груза):</div>
                <div class="popup_text">...</div>
              </div>
            </div>
          </div>
        </div>
        <div id="form-02" class="form form-content-2 another-form">
          <div class="flex justify-content-between">
            <div class="col-50">
              <div class="grey-box">
                <div class="popup_subtitle">Тип грузового места:</div>
                <div class="popup_text">Короб</div>

                <div class="popup_subtitle">Кол-во грузовых мест:</div>
                <div class="popup_text">МИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2</div>
                
                <div class="popup_subtitle">Вес груза (кг):</div>
                <div class="popup_text">1</div>

                <div class="popup_subtitle">Объем груза (м3):</div>
                <div class="popup_text">0,1</div>
              </div>
            </div>
            <div class="col-50">
              <div class="grey-box">
                <div class="popup_subtitle">Длина груза (см):</div>
                <div class="popup_text">ОАО "Витебскмясомолпром"</div>

                <div class="popup_subtitle">Адрес доставки груза:</div>
                <div class="popup_text">...</div>
                
                <div class="popup_subtitle">Ширина груза (см):</div>
                <div class="popup_text">...</div>

                <div class="popup_subtitle">Высота груза (см):</div>
                <div class="popup_text">...</div>
              </div>
            </div>
          </div>
        </div>
        <div id="form-03" class="form form-content-3 another-form">
          <div class="flex justify-content-between">
            <div class="col-50">
              <div class="grey-box">
                <div class="popup_text">Для грузоотправителя:</div>

                <div class="popup_subtitle">Владелец автомобиля:</div>
                <div class="popup_text">...</div>
                
                <div class="popup_subtitle">Автомобиль:</div>
                <div class="popup_text">...</div>

                <div class="popup_subtitle">Путевой лист:</div>
                <div class="popup_text">...</div>

                <div class="popup_subtitle">Водитель:</div>
                <div class="popup_text">...</div>
              </div>
            </div>
            <div class="col-50">
              <div class="grey-box">
                <div class="popup_text">Для грузополучателя:</div>

                <div class="popup_subtitle">Владелец автомобиля:</div>
                <div class="popup_text">...</div>
                
                <div class="popup_subtitle">Автомобиль:</div>
                <div class="popup_text">...</div>

                <div class="popup_subtitle">Путевой лист:</div>
                <div class="popup_text">...</div>

                <div class="popup_subtitle">Водитель:</div>
                <div class="popup_text">...</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="active-btn circle-btn close-btn" (click)="hideModal($event)" modal="view-request"></button>
  </div>
</div>