.journal-content {
  background-color: #B3A4C1;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-columns: 1fr;
  grid-template-areas: "search" "controls" "table" "table-controls";
  grid-gap: 30px;

  & .row-search {
    grid-area: search;
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: min-content;
    grid-template-areas: "search filter";
    grid-gap: 30px;

    & input {
      grid-area: search;
    }

    & button {
      grid-area: filter;
      padding: 12px 60px 12px 30px;
      color: black;
    }
  }

  & .row-controls {
    grid-area: controls;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: max-content auto;
    grid-template-areas: "group single";

    &-group {
      grid-area: group;

      & button {
        padding: 12px 27px;
        margin-right: 20px;
        color: black;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    &-single {
      grid-area: single;
      justify-self: end;

      & button {
        padding: 12px 60px 12px 29px;
        color: black;
      }
    }
  }

  & .row-table {
    grid-area: table;
    height: 600px;
    overflow: auto;
  }

  & .row-table-controls {
    position: relative;
    grid-area: table-controls;
  }
}

.filter {
  display: none;

  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;

  &.show-modal {
    display: flex;
  }
}

.filter-journal {
  width: 100%;
  max-height: 85%;
  background-color: #A070B5;
  max-width: 900px;
  border-radius: 10px;
  padding: 30px;
  overflow: auto;
  position: relative;

  & .close-btn {
    position: absolute;
    top: 11px;
    right: 30px;
  }

  & .filter-form {

    & .grey-box {
      margin-bottom: 30px;

      & .filter-box {
        width: 48%;
        // width: 100%;
        // height: 100%;
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-template-rows: auto;
        // grid-gap: 30px;
      }

      & .row {
        margin-bottom: 20px;
      }
    }
  }
}

.filter-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  font-family: "Montserrat-Medium", sans-serif;
  margin-bottom: 20px;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.col-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  grid-gap: 30px
}

.mat-h2, .mat-title,
.mat-typography h2 {
  font-family: "Montserrat-SemiBold", sans-serif !important;
}

.filter-form {
  width: 100%;
}

#view-request {
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
}

.view-request_align {
  width: 100%;
  // max-width: 900px;
  max-width: 1180px;
  border-radius: 10px;
  // height: 85%;
  position: relative;
  overflow: auto;
  padding: 30px;
}

.popup-bg {
  background-color: #A070B5;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 85%;

  & .row-stage {
    width: 100%;
    background-image: url("../../../assets/img/common/line.svg");
    background-position: center;
    background-repeat: repeat-x;

    & .col {
      width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
  }

  & .close-btn {
    position: absolute;
    top: 11px;
    right: 30px;
  }

  &_title {
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
  }

  &_subtitle {
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 12px;
    font-weight: 600;
  }

  &_text {
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 12px;
    font-weight: 500;
  }
}

.col-33 {
  width: 33.333333333333336%;
}

.col-50 {
  width: 48%;
}

.col-100 {
  width: 100%;
}

button {
  cursor: pointer;
}

.mb-30 {
  margin-bottom: 30px;
}

.another-form {
  display: none;
}
