.journal-content {
  background-color: #B3A4C1;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-columns: 1fr;
  grid-template-areas: "search" "controls" "table" "table-controls";
  grid-gap: 30px;

  & .row-search {
    grid-area: search;
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: min-content;
    grid-template-areas: "search filter";
    grid-gap: 30px;

    & input {
      grid-area: search;
    }

    & button {
      grid-area: filter;
      padding: 12px 60px 12px 30px;
      color: black;
    }
  }

  & .row-controls {
    grid-area: controls;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: max-content auto;
    grid-template-areas: "group single";

    &-group {
      grid-area: group;

      & button {
        padding: 12px 27px;
        margin-right: 20px;
        color: black;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    &-single {
      grid-area: single;
      justify-self: end;

      & button {
        padding: 12px 60px 12px 29px;
        color: black;
      }
    }
  }

  & .row-table {
    grid-area: table;
    height: 600px;
    overflow: auto;

    @media (max-height: 900px) {
      & {
        height: 440px;
      }
    }

    @media (max-height: 700px) {
      & {
        height: 350px;
      }
    }
    @media (max-height: 600px) {
      & {
        height: 240px;
      }
    }
  }

  & .row-table-controls {
    position: relative;
    grid-area: table-controls;
  }
}

.filter {
  display: none;

  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;

  &.show-modal {
    display: flex;
  }
}

.filter-journal {
  width: 100%;
  max-height: 85%;
  background-color: #A070B5;
  max-width: 1180px;
  border-radius: 10px;
  padding: 30px;
  overflow: auto;
  position: relative;

  & .close-btn {
    position: absolute;
    top: 11px;
    right: 30px;
  }

  & .filter-form {

    & .grey-box {
      margin-bottom: 30px;

      & .filter-box {
        width: 48%;
        // width: 100%;
        // height: 100%;
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-template-rows: auto;
        // grid-gap: 30px;
      }

      & .row {
        margin-bottom: 20px;
      }
    }
  }
}

.filter-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  font-family: "Montserrat-Medium", sans-serif;
  margin-bottom: 20px;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.col-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  grid-gap: 30px
}

.mat-h2, .mat-title,
.mat-typography h2 {
  font-family: "Montserrat-SemiBold", sans-serif !important;
}

.filter-form {
  width: 100%;
}

#view-request {
  //position: absolute;
  //left: 0;
  //top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  //display: none;
}

.popup-align {
  width: 100%;
  // max-width: 900px;
  max-width: 1180px;
  border-radius: 10px;
  // height: 85%;
  position: relative;
  overflow: auto;
  padding: 30px;
}

.popup-bg {
  background-color: #A070B5;
}

.sticker-printing {
  .grey-box {
    .flex {
      align-items: center;
    }
  }
}

.popup {
//  display: flex;
//  flex-direction: column;
//  align-items: flex-start;
//  max-height: 85%;
  box-sizing: border-box;

  & .row-stage {
    width: 100%;
    background-image: url("../../../assets/img/common/line.svg");
    background-position: center;
    background-repeat: repeat-x;

    & .col {
      width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
  }

  & .close-btn {
    position: absolute;
    top: 15px;
    right: 30px;
  }

  &_title {
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
  }

  &_subtitle {
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 12px;
    font-weight: 600;
  }

  &_text {
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 12px;
    font-weight: 500;
    word-break: break-all;
  }
}

.order-log {
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;

  &.show-modal {
    display: flex;
  }
}

.num-order {
  margin-right: 9px;
  margin-bottom: 10px;
  display: inline-block;
}

button {
  cursor: pointer;
}

.another-form {
  display: none;
}

.filter-table-columns {
  background: #EEE6F5;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1;
  padding: 30px;
  display: none;

  &.show-modal {
    display: block;
  }

  .checkbox-block {
    margin-right: 10px;
  }

  .row {
    margin-bottom: 15px;
  }
}

.order-log {

  label {
    color: #000;
  }

  .checkbox-block {
    margin-right: 10px;
  }
}

.popup_subtitle {

  &.fw-400 {
    font-weight: 400;
  }

  &.mb-20 {
    margin-bottom: 20px;
  }
}

.sticker-printing {
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;

  &.show-modal {
    display: flex;
  }
}

.sticker-box {
  display: flex;
  flex-wrap: wrap;
  max-height: 590px;
  overflow: auto;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 30px 26px;

  .col-50 {
    width: 50%;
  }

  .sticker {
    width: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 25px;

    // &:nth-child(2n) {
    //   border-bottom: 0;
    // }
    // &:nth-child(2n+1) {
    //   border-bottom: 0;
    //   border-right: 0;
    // }
  }
}

.sticker_num {
  font-weight: 500;
  font-size: 34.2966px;
  line-height: 42px;
  color: #000000;
  margin-top: 7px;
}

.sticker_angle {
  width: 34px;
  height: 34px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-right: 7px;
}

.sticker_text {
  font-weight: 500;
  font-size: 19.5981px;
  line-height: 24px;
  color: #000000;
  max-width: 70%;
}

.delivery-form {
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;

  &.show-modal {
    display: flex;
  }
}

.report-box {
  max-height: 590px;
  overflow: auto;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 30px 26px;
}

.width-a4 {
  // width: 210mm;

  .pdf-page {
    //margin-bottom: 50px;
  }
}

.blank {
  .bshadow {
    img {
      width: 100px;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    empty-cells: hide;

    .td-square {
      width: 16px;
      height: 16px;
      border: 1px solid #000;
    }

    thead {
      font-size: 14px;
      font-weight: bold;
    }

    .report-header {
      background: #48206B;
      color: #fff;
    }

    td {
      border: 1px solid rgba(0,0,0,.5);
      text-align: left;
      vertical-align: top;
      padding: 5px 6px;
      font-size: 10.75px;
      line-height: 12px;
    }

    .td-has-child {
      padding: 0;
    }

    .inner-table {
      tr {
        &:last-child {
          td {
            border-bottom: 0;
          }
        }
        td {
          &:first-child {
            border-left: 0;
          }
          &:last-child {
            border-right: 0;
          }
        }
      }
    }

    tfoot {
      td {
        border: 0;
      }
    }
  }
}

.modal {
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #A070B5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 5px 5px 28px 14px rgba(0,0,0,0.31);
  box-shadow: 5px 5px 28px 14px rgba(0,0,0,0.31);

  &.view-request-modal {
    display: none;
    max-width: 1240px;
    max-height: 820px;

    &.show-modal {
      display: flex;
    }
  }

  &.report-blank {
    width: 100%;
    height: 100%;
    max-width: 1180px;
    max-height: 800px;
    display: none;

    &.show-modal {
      display: block;
    }

    &.close-btn {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

@media print {
  
  .blank table .report-header {
    color: #000;
    background: #fff;
    font-weight: bold;
  }
  
  #blanks, #stickers {
    background-color: white;
    height: 100%;
    width: 99%;
    // position: fixed;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    // padding: 15px;
    padding: 0 !important;
    font-size: 14px;
    line-height: 18px;
  }
  .close-btn {
    display: none !important;
  }
  .pdf-page {
    page-break-after: always;
  }
  .journal-content {
    display: none;
  }
  .sticker_num {
    font-size: 19px;
  }
  .qrcode {
    width: 108px !important;
    height: 108px !important;

    canvas {
      width: 108px !important;
      height: 108px !important;
    }
  }
  .report-box {
    max-height: 100%;
    padding: 0 !important;

    .width-a4 {
      padding: 20px !important;
    }
  }
  .blank {
    img {
      width: 120px;
    }
    thead {
      th {
        font-size: 12px !important;
      }
    }
    td {
      font-size: 8px !important;
    }
  }
  .modal {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    box-shadow: none;
    max-height: 100%;
    max-width: 100% !important;
    padding: 0 !important;
  }
  .popup_title {
    display: none;
  }
  .grey-box {
    display: none;
  }
  .pdf-page {
    // padding: 15px;
  }

  .sticker-printing {
    position: relative;
    align-items: flex-start;
  }
  .sticker_text {
    font-size: 16.5px;
  }
  .sticker-box {
    display: block;
    overflow: visible;
    max-height: 100%;
    
    & > div {
      // break-after: page;
      display: inline-block;
    }
  }
}

.pdf-page {
  page-break-after: always;
}

.blank {
  thead {
    display:table-row-group;
  }
  tfoot {
    display:table-row-group;
  }
}
.width-a4 {
  page-break-after: always;

  .pdf-page {
    page-break-after: always;
  }
}

