.new-order-content {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content auto;
  grid-template-areas: "cap" "stage" "form";
  grid-gap: 30px;

  & .row-cap {
    grid-area: cap;

    & .grey-box {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: min-content;
      grid-gap: 30px;
    }
  }

  & .row-stage {
    grid-area: stage;
    width: 100%;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    background-image: url("../../../assets/img/common/line.svg");
    background-position: center;
    background-repeat: repeat-x;

    & .col {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content;
      grid-gap: 30px;
    }
  }

  & .row-form {
    grid-area: form;
  }
}
