<div class="new-order-content">
  <div class="row-cap">
    <div class="grey-box">
      <div class="control">
        <label for="">Тип услуги</label>
        <input type="text" placeholder="Выберите услугу">
      </div>
      <div class="control">
        <label for="">Тип доставки</label>
        <input type="text" placeholder="Выберите тип доставки">
      </div>
    </div>
  </div>
  <div class="row-stage">
    <div class="col">
      <button class="active-btn">Доставка</button>
      <button class="white-btn">Вес, габариты</button>
    </div>
    <div class="col">
      <div></div>
      <button class="white-btn">Дополнительные услуги</button>
    </div>
  </div>
  <div class="row-form"></div>
</div>
