<div class="new-order-content">
  <div class="row-cap">
    <div class="grey-box">
      <div class="control">
        <label for="">Тип услуги</label>
        <input type="text" placeholder="Выберите услугу">
      </div>
      <div class="control">
        <label for="">Тип доставки</label>
        <input type="text" placeholder="Выберите тип доставки">
      </div>
      <div style="display: none" class="control-wide">
        <label for="">Описание груза</label>
        <input type="text">
      </div>
    </div>
  </div>
  <div class="row-stage">
    <div class="col">
      <button class="active-btn">Доставка</button>
      <button class="white-btn">Вес, габариты</button>
    </div>
    <div class="col">
      <div></div>
      <button class="white-btn">Дополнительные услуги</button>
    </div>
  </div>
  <div class="row-form">
    <form>
      <div class="row-form-content">
<!--        Form 1-->
        <div class="form-content-1">
          <div class="col grey-box">
            <div class="row">
              <div class="control">
                <label for="">Отправитель:</label>
                <input type="text">
              </div>
              <div class="optional">
                <button class="add-btn active-btn mt-27"></button>
              </div>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Адрес выдачи груза:</label>
                <input type="text">
              </div>
              <div class="optional">
                <button class="add-btn active-btn mt-27"></button>
              </div>
            </div>
            <div class="row">
              <p class="warning-left mt-20">
                <span class="thin-grey-text">Дни обслуживания: </span>
                <span class="description">ПН-ВТ-СР-ЧТ-ПТ-СБ</span>
              </p>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Контакт (по адресу выдачи груза):</label>
                <input type="text">
              </div>
              <div class="optional">
                <button class="add-btn active-btn mt-27"></button>
              </div>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Дата выдачи груза:</label>
                <input type="date">
              </div>
              <div class="optional">
              </div>
            </div>
            <div class="row-multiple">
              <div class="container">
                <label class="m-0" for="">Дата выдачи груза c:</label>
                <label class="m-0" for="">по:</label>
                <label class="m-0" for="">Время перерыва c:</label>
                <label class="m-0" for="">по:</label>
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
              </div>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Серия и номер ТТН:</label>
                <input type="text">
              </div>
              <div class="optional">
              </div>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Примечание (по адресу выдачи груза):</label>
                <textarea></textarea>
              </div>
              <div class="optional">
              </div>
            </div>
          </div>
          <div class="col grey-box">
            <div class="row">
              <div class="control">
                <label for="">Получатель:</label>
                <input type="text">
              </div>
              <div class="optional">
                <button class="add-btn active-btn mt-27"></button>
              </div>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Адрес доставки груза:</label>
                <input type="text">
              </div>
              <div class="optional">
                <button class="add-btn active-btn mt-27"></button>
              </div>
            </div>
            <div class="row">
              <p class="warning-left mt-20">
                <span class="thin-grey-text">Дни обслуживания: </span>
                <span class="description">ПН-ВТ-СР-ЧТ-ПТ-СБ</span>
              </p>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Контакт (по адресу  доставки груза):</label>
                <input type="text">
              </div>
              <div class="optional">
                <button class="add-btn active-btn mt-27"></button>
              </div>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Дата доставки груза:</label>
                <input type="date">
              </div>
              <div class="optional">
              </div>
            </div>
            <div class="row-multiple">
              <div class="container">
                <label class="m-0" for="">Дата выдачи груза c:</label>
                <label class="m-0" for="">по:</label>
                <label class="m-0" for="">Время перерыва c:</label>
                <label class="m-0" for="">по:</label>
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
              </div>
            </div>
            <div class="row-two-items">
              <div class="container">
                <div class="condition">
                  <div class="checkbox-block" style="margin-right: 15px;">
                    <input class="checkbox-block-item" type="checkbox" name="notification" id="notification" checked>
                    <span class="checkbox-block-icon"></span>
                  </div>
                  <label for="notification">Email оповещение получателя</label>
                </div>
                <input type="text" class="m-0">
              </div>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Примечание (по адресу выдачи груза):</label>
                <textarea></textarea>
              </div>
              <div class="optional">
              </div>
            </div>
          </div>
        </div>
<!--        Form 2-->
        <div style="display: none" class="form-content-2">
          <div class="col col-rows">
            <div class="row row-btns">
              <div class="grey-box">
                <div class="multi-btns">
                  <label for="">Тип грузового места</label>
                  <div class="btns-box">
                    <button class="active-btn">Короб</button>
                    <button class="white-btn">Палета</button>
                    <button class="white-btn">Негабарит</button>
                    <button class="white-btn">Мешок</button>
                  </div>
                </div>
                <div class="counter">
                  <button class="minus-btn active-btn"></button>
                  <input class="m-0" type="number">
                  <button class="add-btn active-btn"></button>
                </div>
              </div>
            </div>
            <div class="row row-params">
              <div class="grey-box">
                <label for="params">Параметры отправления:</label>
                <div class="row-params-items">
                  <input type="text" placeholder="Вес, кг">
                  <input type="text" placeholder="Объем, м3">
                  <span class="grey-header" style="text-align: center">или</span>
                  <input type="text" placeholder="Длина, см">
                  <span class="mr-10 ml-10 multiply"></span>
                  <input type="text" placeholder="Ширина, см">
                  <span class="mr-10 ml-10 multiply"></span>
                  <input type="text" placeholder="Высота, см">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="grey-box">
                <p class="description" style="max-width: 865px">
                  В случае отсутствия населённого пункта
                  в основном списке (к стоимости может
                  применяться дополнительная плата -
                  платное отклонение. Калькулятор рассчитывает
                  стоимость перевозки грузов до 1500 кг и 6 метров3
                  (кубических).
                </p>
              </div>
            </div>
            <div class="row">
              <div class="grey-box">
                <button class="green-btn round-btn">Точный расчет веса и объема</button>
              </div>
            </div>
          </div>
          <div class="col col-checkboxes">
            <div class="grey-box">
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="checkbox" name="ttn" id="ttn" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="ttn">Замена ТТН ( 1 шт - 15 руб) </label>
              </div>
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="checkbox" name="wait" id="wait" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="wait">Ожидание разгрузки ( 1 мин - 0,70 руб) </label>
              </div>
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="radio" name="readdress" id="readdress" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="readdress">Переадресация</label>
              </div>
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="radio" name="agrement" id="agreement" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="agreement">Оформление доверенностей на получение груза</label>
              </div>
            </div>
          </div>
        </div>
<!--        Form 3-->
        <div style="display: none" class="form-content-3">
          <div class="col col-rows">
            <div class="row row-btns">
              <div class="grey-box">
                <div class="multi-btns">
                  <label for="">Тип грузового места</label>
                  <div class="btns-box">
                    <button class="active-btn">Конверт</button>
                  </div>
                </div>
                <div class="counter">
                  <button class="minus-btn active-btn"></button>
                  <input class="m-0" type="number">
                  <button class="add-btn active-btn"></button>
                </div>
              </div>
            </div>
            <div class="row row-params">
              <div class="grey-box">
                <label for="params">Параметры отправления:</label>
                <div class="row-params-items">
                  <input type="text" placeholder="Вес, кг">
                  <input type="text" placeholder="Объем, м3">
                  <span class="grey-header" style="text-align: center">или</span>
                  <input type="text" placeholder="Длина, см">
                  <span class="mr-10 ml-10 multiply"></span>
                  <input type="text" placeholder="Ширина, см">
                  <span class="mr-10 ml-10 multiply"></span>
                  <input type="text" placeholder="Высота, см">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="grey-box">
                <p class="description" style="max-width: 865px">
                  В случае отсутствия населённого пункта
                  в основном списке (к стоимости может
                  применяться дополнительная плата -
                  платное отклонение. Калькулятор рассчитывает
                  стоимость перевозки грузов до 1500 кг и 6 метров3
                  (кубических).
                </p>
              </div>
            </div>
            <div class="row">
              <div class="grey-box">
                <button class="green-btn round-btn">Точный расчет веса и объема</button>
              </div>
            </div>
          </div>
          <div class="col col-checkboxes">
            <div class="grey-box">
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="checkbox" name="ttn" id="ttn" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="ttn">Замена ТТН ( 1 шт - 15 руб) </label>
              </div>
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="checkbox" name="wait" id="wait" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="wait">Ожидание разгрузки ( 1 мин - 0,70 руб) </label>
              </div>
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="radio" name="readdress" id="readdress" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="readdress">Переадресация</label>
              </div>
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="radio" name="agrement" id="agreement" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="agreement">Оформление доверенностей на получение груза</label>
              </div>
            </div>
          </div>
        </div>
<!--        Form 4-->
        <div style="display: none" class="form-content-4">
          <div class="col grey-box">
            <div class="row">
              <div class="control">
                <label for="">Отправитель:</label>
                <input type="text">
              </div>
              <div class="optional">
                <button class="add-btn active-btn mt-27"></button>
              </div>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Адрес выдачи груза:</label>
                <input type="text">
              </div>
              <div class="optional">
                <button class="add-btn active-btn mt-27"></button>
              </div>
            </div>
            <div class="row">
              <p class="warning-left mt-20">
                <span class="thin-grey-text">Дни обслуживания: </span>
                <span class="description">ПН-ВТ-СР-ЧТ-ПТ-СБ</span>
              </p>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Контакт (по адресу выдачи груза):</label>
                <input type="text">
              </div>
              <div class="optional">
                <button class="add-btn active-btn mt-27"></button>
              </div>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Дата выдачи груза:</label>
                <input type="date">
              </div>
              <div class="optional">
              </div>
            </div>
            <div class="row-multiple">
              <div class="container">
                <label class="m-0" for="">Дата выдачи груза c:</label>
                <label class="m-0" for="">по:</label>
                <label class="m-0" for="">Время перерыва c:</label>
                <label class="m-0" for="">по:</label>
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
              </div>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Примечание (по адресу выдачи груза):</label>
                <textarea></textarea>
              </div>
              <div class="optional">
              </div>
            </div>
          </div>
          <button class="green-btn round-btn change-btn"></button>
          <div class="col grey-box">
            <div class="row-full">
              <div class="control">
                <label for="">Отправитель:</label>
                <input type="text">
              </div>
            </div>
            <div class="row-full">
              <div class="control">
                <label for="">Населенный пункт:</label>
                <input type="text">
              </div>

            </div>
            <div class="row-full">
              <p class="warning-left mt-20">
                <span class="thin-grey-text">Дни обслуживания: </span>
                <span class="description">ПН-ВТ-СР-ЧТ-ПТ-СБ</span>
              </p>
            </div>
            <div class="row-full">
              <div class="control">
                <label for="">Улица</label>
                <input type="text">
              </div>
            </div>
            <div class="row-full-multiple">
              <label for="">Дом:</label>
              <label for="">Корпус:</label>
              <label for="">Строение:</label>
              <label for="">Офис:</label>
              <label for="">Квартира:</label>
              <input type="text">
              <input type="text">
              <input type="text">
              <input type="text">
              <input type="text">
            </div>
            <div class="row-two-items">
              <div class="item">
                <label for="">Телефон контакта:*</label>
                <input type="tel">
              </div>
              <div class="item">
                <label for="">Телефон контакта:*</label>
                <input type="tel">
              </div>
              <div class="item">
                <label for="">Дата доставки груза:</label>
                <input type="date">
              </div>
              <div class="item">
                <label for="">Примечание (по адресу выдачи груза):</label>
                <textarea></textarea>
              </div>
            </div>
          </div>
        </div>
<!--        Form 5-->
        <div style="display: none" class="form-content-5">
          <div class="column-main">
            <div class="row-type grey-box">
              <div class="multi-btns">
                <label for="">Тип грузового места</label>
                <div class="btns-box">
                  <button class="active-btn">Товарное вложение</button>
                </div>
              </div>
              <div class="counter mt-27">
                <button class="minus-btn active-btn"></button>
                <input class="m-0" type="number">
                <button class="add-btn active-btn"></button>
              </div>
            </div>
            <div class="row-params">
              <div class="grey-box">
                <label for="params">Параметры отправления:</label>
                <div class="row-params-items">
                  <input type="text" placeholder="Вес, кг">
                  <input type="text" placeholder="Объем, м3">
                  <span class="grey-header" style="text-align: center">или</span>
                  <input type="text" placeholder="Длина, см">
                  <span class="mr-10 ml-10 multiply"></span>
                  <input type="text" placeholder="Ширина, см">
                  <span class="mr-10 ml-10 multiply"></span>
                  <input type="text" placeholder="Высота, см">
                </div>
              </div>
            </div>
            <div class="row-description">
              <div class="grey-box left">
                <h2 class="grey-header">Описание вложений :</h2>
                <div class="row-details">
                  <div class="item">
                    <input class="m-0" type="text" placeholder="Вложение">
                    <input class="m-0" type="text" placeholder="Количество, шт.">
                    <input class="m-0" type="text" placeholder="Стоимость для получателя">
                    <button class="red-btn unpin-btn"></button>
                  </div>
                  <div class="item">
                    <input class="m-0" type="text" placeholder="Вложение">
                    <input class="m-0" type="text" placeholder="Количество, шт.">
                    <input class="m-0" type="text" placeholder="Стоимость для получателя">
                    <button class="red-btn unpin-btn"></button>
                  </div>
                  <div class="item">
                    <input class="m-0" type="text" placeholder="Вложение">
                    <input class="m-0" type="text" placeholder="Количество, шт.">
                    <input class="m-0" type="text" placeholder="Стоимость для получателя">
                    <button class="red-btn unpin-btn"></button>
                  </div>
                  <div class="item">
                    <input class="m-0" type="text" placeholder="Вложение">
                    <input class="m-0" type="text" placeholder="Количество, шт.">
                    <input class="m-0" type="text" placeholder="Стоимость для получателя">
                    <button class="red-btn unpin-btn"></button>
                  </div>
                  <div class="item">
                    <input class="m-0" type="text" placeholder="Вложение">
                    <input class="m-0" type="text" placeholder="Количество, шт.">
                    <input class="m-0" type="text" placeholder="Стоимость для получателя">
                    <button class="red-btn unpin-btn"></button>
                  </div>
                </div>
                <div class="row-controls">
                  <button class="active-btn add-btn"></button>
                </div>
              </div>
              <div class="grey-box right">
                <p class="warning-left mt-20">
                  <span class="thin-grey-text">Итого: </span>
                  <span class="description">500 BYN</span>
                </p>
                <label class="mt-27" for="">Стоимость для получателя:</label>
                <input type="text" placeholder="Введите стоимость">
              </div>
            </div>
          </div>
          <div class="column-side">
            <div class="grey-box">
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="checkbox" name="ttn" id="ttn" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="ttn">Замена ТТН ( 1 шт - 15 руб) </label>
              </div>
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="checkbox" name="wait" id="wait" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="wait">Ожидание разгрузки ( 1 мин - 0,70 руб) </label>
              </div>
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="radio" name="readdress" id="readdress" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="readdress">Переадресация</label>
              </div>
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="radio" name="agrement" id="agreement" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="agreement">Оформление доверенностей на получение груза</label>
              </div>
            </div>
            <div class="grey-box">
              <button class="green-btn round-btn">
                Точный расчет веса и объема
              </button>
            </div>
          </div>
        </div>
<!--        Form 6-->
        <div style="display: none" class="form-content-6">
          <div class="column-main">
            <div class="row-type grey-box">
              <div class="multi-btns">
                <label for="">Тип грузового места</label>
                <div class="btns-box">
                  <button class="active-btn">Короб</button>
                  <button class="white-btn">Негабарит</button>
                  <button class="white-btn">Мешок</button>
                </div>
              </div>
              <div class="counter mt-27">
                <button class="minus-btn active-btn"></button>
                <input class="m-0" type="number">
                <button class="add-btn active-btn"></button>
              </div>
            </div>
            <div class="row-params">
              <div class="grey-box">
                <label for="params">Параметры отправления:</label>
                <div class="row-params-items">
                  <input type="text" placeholder="Вес, кг">
                  <input type="text" placeholder="Объем, м3">
                  <span class="grey-header" style="text-align: center">или</span>
                  <input type="text" placeholder="Длина, см">
                  <span class="mr-10 ml-10 multiply"></span>
                  <input type="text" placeholder="Ширина, см">
                  <span class="mr-10 ml-10 multiply"></span>
                  <input type="text" placeholder="Высота, см">
                </div>
              </div>
            </div>
            <div class="row-description">
              <div class="grey-box left">
                <h2 class="grey-header">Описание вложений :</h2>
                <div class="row-details">
                  <div class="item">
                    <input class="m-0" type="text" placeholder="Вложение">
                    <input class="m-0" type="text" placeholder="Количество, шт.">
                    <input class="m-0" type="text" placeholder="Стоимость для получателя">
                    <button class="red-btn unpin-btn"></button>
                  </div>
                  <div class="item">
                    <input class="m-0" type="text" placeholder="Вложение">
                    <input class="m-0" type="text" placeholder="Количество, шт.">
                    <input class="m-0" type="text" placeholder="Стоимость для получателя">
                    <button class="red-btn unpin-btn"></button>
                  </div>
                  <div class="item">
                    <input class="m-0" type="text" placeholder="Вложение">
                    <input class="m-0" type="text" placeholder="Количество, шт.">
                    <input class="m-0" type="text" placeholder="Стоимость для получателя">
                    <button class="red-btn unpin-btn"></button>
                  </div>
                  <div class="item">
                    <input class="m-0" type="text" placeholder="Вложение">
                    <input class="m-0" type="text" placeholder="Количество, шт.">
                    <input class="m-0" type="text" placeholder="Стоимость для получателя">
                    <button class="red-btn unpin-btn"></button>
                  </div>
                  <div class="item">
                    <input class="m-0" type="text" placeholder="Вложение">
                    <input class="m-0" type="text" placeholder="Количество, шт.">
                    <input class="m-0" type="text" placeholder="Стоимость для получателя">
                    <button class="red-btn unpin-btn"></button>
                  </div>
                </div>
                <div class="row-controls">
                  <button class="active-btn add-btn"></button>
                </div>
              </div>
              <div class="grey-box right">
                <p class="warning-left mt-5">
                  <span class="thin-grey-text">Итого: </span>
                  <span class="description">500 BYN</span>
                </p>
                <label class="mt-5" for="">Объявленная ценность:</label>
                <input type="text" placeholder="Введите стоимость">
                <label class="mt-5" for="">Наложенный плёж:</label>
                <input type="text">
              </div>
            </div>
          </div>
          <div class="column-side">
            <div class="grey-box">
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="checkbox" name="ttn" id="ttn" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="ttn">Замена ТТН ( 1 шт - 15 руб) </label>
              </div>
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="checkbox" name="wait" id="wait" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="wait">Ожидание разгрузки ( 1 мин - 0,70 руб) </label>
              </div>
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="radio" name="readdress" id="readdress" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="readdress">Переадресация</label>
              </div>
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="radio" name="agrement" id="agreement" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="agreement">Оформление доверенностей на получение груза</label>
              </div>
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="radio" name="list" id="list" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="list">Опись вложений</label>
              </div>
            </div>
            <div class="grey-box">
              <button class="green-btn round-btn">
                Точный расчет веса и объема
              </button>
            </div>
          </div>
        </div>
<!--        Form 7-->
        <div style="display: none" class="form-content-7">
          <div class="column-main">
            <div class="row-type grey-box">
              <div class="multi-btns">
                <label for="">Тип грузового места</label>
                <div class="btns-box">
                  <button class="active-btn">Короб</button>
                  <button class="white-btn">Негабарит</button>
                  <button class="white-btn">Мешок</button>
                </div>
              </div>
              <div class="counter mt-27">
                <button class="minus-btn active-btn"></button>
                <input class="m-0" type="number">
                <button class="add-btn active-btn"></button>
              </div>
            </div>
            <div class="row-params">
              <div class="grey-box">
                <label for="params">Параметры отправления:</label>
                <div class="row-params-items">
                  <input type="text" placeholder="Вес, кг">
                  <input type="text" placeholder="Объем, м3">
                  <span class="grey-header" style="text-align: center">или</span>
                  <input type="text" placeholder="Длина, см">
                  <span class="mr-10 ml-10 multiply"></span>
                  <input type="text" placeholder="Ширина, см">
                  <span class="mr-10 ml-10 multiply"></span>
                  <input type="text" placeholder="Высота, см">
                </div>
              </div>
            </div>
            <div class="row-description">
              <div class="grey-box left">
                <button style="max-width: 300px; padding: 15px 30px" class="green-btn round-btn">Точный расчет веса и объема</button>
              </div>
              <div class="grey-box right">
                <label class="mt-5" for="">Объявленная ценность:</label>
                <input type="text" placeholder="Введите стоимость">
              </div>
            </div>
          </div>
          <div class="column-side">
            <div class="grey-box">
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="checkbox" name="ttn" id="ttn" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="ttn">Замена ТТН ( 1 шт - 15 руб) </label>
              </div>
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="checkbox" name="wait" id="wait" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="wait">Ожидание разгрузки ( 1 мин - 0,70 руб) </label>
              </div>
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="radio" name="readdress" id="readdress" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="readdress">Переадресация</label>
              </div>
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="radio" name="agrement" id="agreement" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="agreement">Оформление доверенностей на получение груза</label>
              </div>
              <div class="row">
                <div class="checkbox-block" style="margin-right: 15px;">
                  <input class="checkbox-block-item" type="radio" name="list" id="list" checked>
                  <span class="checkbox-block-icon"></span>
                </div>
                <label for="list">Опись</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row-form-controls mb-30">
        <div class="col">
          <div class="stage">
            <button class="active-btn circle-btn">1</button>
            <button class="circle-btn">2</button>
          </div>
        </div>
        <div class="col">
          <button class="white-btn round-btn" style="display: none">Назад</button>
          <button class="green-btn round-btn">Далее</button>
          <input type="submit" value="Оформить" hidden>
        </div>
      </div>
    </form>
  </div>
</div>
