.new-order-content {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content auto;
  grid-template-areas: "cap" "stage" "form";
  grid-gap: 30px;

  & .row-cap {
    grid-area: cap;

    & .grey-box {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: min-content;
      grid-gap: 30px;

      & .control-wide {
        grid-column: span 2;
      }
    }
  }

  & .row-stage {
    grid-area: stage;
    width: 100%;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    background-image: url("../../../assets/img/common/line.svg");
    background-position: center;
    background-repeat: repeat-x;

    & .col {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content;
      grid-gap: 30px;
    }
  }

  & .row-form {
    grid-area: form;
    width: 100%;
    height: 100%;

    & form {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto min-content;
      grid-template-areas: "main" "controls";
      grid-gap: 30px;

      & .row-form-content {
        grid-area: main;

        & .form-content-1 {
          width: 100%;
          height: 100%;

          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
          grid-gap: 30px;

          & .col {
            & .row {
              margin-top: 17px;
              display: grid;
              grid-template-columns: 9fr 1fr;
              grid-template-rows: min-content;
              grid-gap: 30px;

              &:first-of-type {
                margin-top: 0;
              }
            }

            & .row-multiple {
              margin-top: 17px;
              display: grid;
              grid-template-columns: 9fr 1fr;
              grid-template-rows: min-content;
              grid-gap: 30px;

              & .container {
                display: grid;
                grid-template-columns: 1.5fr 1fr 1.5fr 1fr;
                grid-template-rows: min-content min-content;
                grid-gap: 0 20px;
              }
            }

            & .row-two-items {
              margin-top: 45px;
              display: grid;
              grid-template-columns: 9fr 1fr;
              grid-template-rows: min-content;
              grid-gap: 30px;

              & .container {
                display: grid;
                grid-template-rows: min-content;
                grid-template-columns: 1fr 1.5fr;

                & .condition {
                  display: flex;
                  align-items: center;
                }
              }
            }
          }
        }

        & .form-content-2 {
          width: 100%;
          height: 100%;

          display: grid;
          grid-template-columns: 3fr 1fr;
          grid-template-rows: auto;
          grid-gap: 30px;

          & .col-rows {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto min-content min-content min-content;
            grid-gap: 30px;

            & .row-btns .grey-box {
              display: grid;
              grid-template-columns: 3fr 1fr;
              grid-template-rows: min-content;
              grid-gap: 90px;

              & .multi-btns .btns-box {
                margin-top: 12px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: min-content;
                grid-gap: 25px;

                & button {
                  &:nth-of-type(1) {
                    background-image: url("../../../assets/img/common/box.svg");
                    background-repeat: no-repeat;
                    background-position-y: center;
                    background-position-x: 30px;
                  }

                  &:nth-of-type(2) {
                    background-image: url("../../../assets/img/common/pallete.svg");
                    background-repeat: no-repeat;
                    background-position-y: center;
                    background-position-x: 30px;
                  }

                  &:nth-of-type(3) {
                    background-image: url("../../../assets/img/common/oversize.svg");
                    background-repeat: no-repeat;
                    background-position-y: center;
                    background-position-x: 30px;
                  }

                  &:nth-of-type(4) {
                    background-image: url("../../../assets/img/common/bundle.svg");
                    background-repeat: no-repeat;
                    background-position-y: center;
                    background-position-x: 30px;
                  }
                }
              }

              & .counter {
                padding-top: 30px;
                display: grid;
                grid-template-columns: 45px auto 45px;
                grid-template-rows: min-content;
                grid-gap: 15px;
              }
            }

            & .row-params .grey-box {
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: min-content;

              & .row-params-items {
                margin-top: 12px;
                display: grid;
                grid-template-columns: 1.2fr 1.2fr 80px 1.8fr 30px 1.8fr 30px 1.8fr;
                grid-template-rows: min-content;
                align-items: center;
                grid-gap: 20px;

                & input {
                  margin-top: 0;
                }
              }
            }
          }

          & .col-checkboxes {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            & .grey-box {

              & .row {
                margin-top: 20px;
                display: flex;
                align-items: center;

                &:first-of-type {
                  margin-top: 0;
                }
              }
            }
          }
        }

        & .form-content-3 {
          width: 100%;
          height: 100%;

          display: grid;
          grid-template-columns: 3fr 1fr;
          grid-template-rows: auto;
          grid-gap: 30px;

          & .col-rows {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto min-content min-content min-content;
            grid-gap: 30px;

            & .row-btns .grey-box {
              display: grid;
              grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
              grid-template-rows: min-content;
              grid-gap: 90px;

              & .multi-btns .btns-box {
                margin-top: 12px;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: min-content;
                grid-gap: 25px;

                & button {
                  &:nth-of-type(1) {
                    background-image: url("../../../assets/img/common/box.svg");
                    background-repeat: no-repeat;
                    background-position-y: center;
                    background-position-x: 30px;
                  }

                  &:nth-of-type(2) {
                    background-image: url("../../../assets/img/common/pallete.svg");
                    background-repeat: no-repeat;
                    background-position-y: center;
                    background-position-x: 30px;
                  }

                  &:nth-of-type(3) {
                    background-image: url("../../../assets/img/common/oversize.svg");
                    background-repeat: no-repeat;
                    background-position-y: center;
                    background-position-x: 30px;
                  }

                  &:nth-of-type(4) {
                    background-image: url("../../../assets/img/common/bundle.svg");
                    background-repeat: no-repeat;
                    background-position-y: center;
                    background-position-x: 30px;
                  }
                }
              }

              & .counter {
                padding-top: 30px;
                display: grid;
                grid-template-columns: 45px auto 45px;
                grid-template-rows: min-content;
                grid-gap: 15px;
              }
            }

            & .row-params .grey-box {
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: min-content;

              & .row-params-items {
                margin-top: 12px;
                display: grid;
                grid-template-columns: 1.2fr 1.2fr 80px 1.8fr 30px 1.8fr 30px 1.8fr;
                grid-template-rows: min-content;
                align-items: center;
                grid-gap: 20px;

                & input {
                  margin-top: 0;
                }
              }
            }
          }

          & .col-checkboxes {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            & .grey-box {

              & .row {
                margin-top: 20px;
                display: flex;
                align-items: center;

                &:first-of-type {
                  margin-top: 0;
                }
              }
            }
          }
        }
      }

      & .row-form-controls {
        grid-area: controls;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;
        grid-gap: 30px;

        & .col {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: min-content;
          grid-gap: 30px;

          & .stage {
            display: flex;
            justify-content: space-between;
            background-image: url("../../../assets/img/common/line.svg");
            background-position: center;
            background-repeat: repeat-x;
          }

          & button.white-btn {
            grid-row: 1;
            grid-column: 2;
          }

          & button.green-btn {
            grid-row: 1;
            grid-column: 3;
          }

          & input[type="submit"] {
            grid-row: 1;
            grid-column: 3;
          }
        }
      }
    }
  }
}
