<div class="new-order-content">
  <div class="row-cap">
    <div class="grey-box">
      <div class="control">
        <label for="">Тип услуги</label>
        <input type="text" placeholder="Выберите услугу">
      </div>
      <div class="control">
        <label for="">Тип доставки</label>
        <input type="text" placeholder="Выберите тип доставки">
      </div>
    </div>
  </div>
  <div class="row-stage">
    <div class="col">
      <button class="active-btn">Доставка</button>
      <button class="white-btn">Вес, габариты</button>
    </div>
    <div class="col">
      <div></div>
      <button class="white-btn">Дополнительные услуги</button>
    </div>
  </div>
  <div class="row-form">
    <form>
      <div class="row-form-content">
        <div class="form-content-1">
          <div class="col grey-box">
            <div class="row">
              <div class="control">
                <label for="">Отправитель:</label>
                <input type="text">
              </div>
              <div class="optional">
                <button class="add-btn active-btn mt-27"></button>
              </div>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Адрес выдачи груза:</label>
                <input type="text">
              </div>
              <div class="optional">
                <button class="add-btn active-btn mt-27"></button>
              </div>
            </div>
            <div class="row">
              <p class="warning-left mt-20">
                <span class="thin-grey-text">Дни обслуживания: </span>
                <span class="description">ПН-ВТ-СР-ЧТ-ПТ-СБ</span>
              </p>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Контакт (по адресу выдачи груза):</label>
                <input type="text">
              </div>
              <div class="optional">
                <button class="add-btn active-btn mt-27"></button>
              </div>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Дата выдачи груза:</label>
                <input type="date">
              </div>
              <div class="optional">
              </div>
            </div>
            <div class="row-multiple">
              <div class="container">
                <label class="m-0" for="">Дата выдачи груза c:</label>
                <label class="m-0" for="">по:</label>
                <label class="m-0" for="">Время перерыва c:</label>
                <label class="m-0" for="">по:</label>
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
              </div>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Серия и номер ТТН:</label>
                <input type="text">
              </div>
              <div class="optional">
              </div>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Примечание (по адресу выдачи груза):</label>
                <textarea></textarea>
              </div>
              <div class="optional">
              </div>
            </div>
          </div>
          <div class="col grey-box">
            <div class="row">
              <div class="control">
                <label for="">Отправитель:</label>
                <input type="text">
              </div>
              <div class="optional">
                <button class="add-btn active-btn mt-27"></button>
              </div>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Отправитель:</label>
                <input type="text">
              </div>
              <div class="optional">
                <button class="add-btn active-btn mt-27"></button>
              </div>
            </div>
            <div class="row">
              <p class="warning-left mt-20">
                <span class="thin-grey-text">Дни обслуживания: </span>
                <span class="description">ПН-ВТ-СР-ЧТ-ПТ-СБ</span>
              </p>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Отправитель:</label>
                <input type="text">
              </div>
              <div class="optional">
                <button class="add-btn active-btn mt-27"></button>
              </div>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Дата выдачи груза:</label>
                <input type="date">
              </div>
              <div class="optional">
              </div>
            </div>
            <div class="row-multiple">
              <div class="container">
                <label class="m-0" for="">Дата выдачи груза c:</label>
                <label class="m-0" for="">по:</label>
                <label class="m-0" for="">Время перерыва c:</label>
                <label class="m-0" for="">по:</label>
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
              </div>
            </div>
            <div class="row-two-items">
              <div class="container">
                <div class="condition">
                  <div class="checkbox-block" style="margin-right: 15px;">
                    <input class="checkbox-block-item" type="checkbox" name="notification" id="notification" checked>
                    <span class="checkbox-block-icon"></span>
                  </div>
                  <label for="notification">Email оповещение получателя</label>
                </div>
                <input type="text" class="m-0">
              </div>
            </div>
            <div class="row">
              <div class="control">
                <label for="">Примечание (по адресу выдачи груза):</label>
                <textarea></textarea>
              </div>
              <div class="optional">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row-form-controls mb-30">
        <div class="col">
          <div class="stage">
            <button class="active-btn circle-btn">1</button>
            <button class="circle-btn">2</button>
          </div>
        </div>
        <div class="col">
          <button class="white-btn round-btn" style="display: none">Назад</button>
          <button class="green-btn round-btn">Далее</button>
          <input type="submit" value="Оформить" hidden>
        </div>
      </div>
    </form>
  </div>
</div>
